@import '../../../../assets/sass/abstracts/variables';
.user-setup{
.content-area{
    height: calc(100% - 64px);
    border-bottom: 1px solid $color-shop-border;
}
.actions {
    height: 64px;

    .mdc-button{
        box-shadow: none;
    }

    .actionButton {
    //  padding: 0 50px;
    }
  }
  ui-switch {
    .switch{
      margin-bottom: 0 !important;
    }
  }
}


.pop-container{
  height: 100%;
  .pop-head{
      height:64px;
      display: flex;
      align-items: center;
      background-color: $common-header-bg;
      .inner-header{
          font-size: 20px;
          text-transform: uppercase;
          color:$color-text-color;
      }
      .inner-close{
          margin-left: auto;
          color:$color-base;
      }
  }
  .pop-contents{
      height: calc(100% - 64px);
      .mat-dialog-content{
          padding: 24px;
          margin: unset;
      }
  }
}