$navy-blue-darkest: rgb(38, 101, 192);
$navy-blue-darker: rgb(77, 123, 189);
$navy-blue: rgb(96, 142, 209);
$navy-blue-lighter: rgb(212, 224, 242);
$navy-blue-lightest: rgb(232, 239, 248);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$black-light: rgb(74, 72, 72);
$black-lighter: rgba(0, 0, 0, 0.54);
$black-lightest: rgba(0, 0, 0, 0.12);

//Grey
$grey-darkest: rgb(67, 74, 84);
$grey-darker: rgb(129, 136, 146);
$grey-dark: rgb(149, 152, 154);
$grey-medium1: rgb(161, 166, 173);
$grey-medium2: rgb(171, 173, 174);
$grey-light: rgb(195, 195, 195);
$grey-lighter: rgb(228, 229, 232);
$grey-lightest: rgb(244, 244, 245);
$darkGrey: #818792;

//brown
$brown-dark: #96744D;
$brown-light:#e7d2bf;
//Green
$green-darkest: rgb(67, 160, 71);
$green: rgb(15, 183, 22);
$green-lightest: rgb(203, 255, 204);

//Orange
$orange: rgb(222, 137, 20);
$orange-lighter: rgb(221, 136, 0);
$orange-lightest: rgb(255, 240, 220);

//Red
$red-dark: #992315;
$red: rgb(224, 4, 4);
$red-lightest: rgb(255, 225, 219);
$lightest-red: #fc6c79;
$light-red: #ff5b5b;
//Blue
$blue: rgb(83, 147, 225);
$blue-lightest: rgb(220, 233, 249);

//Yellow
$yellow: #FFFF8D;

//Violet
$violet: #9999FF;

//From Golf
$nobel: #999999;
$single_select_background: rgba(0, 0, 0, 0.15);
$Zircon: #f4f4f6;
$black-opacity-level2: rgba(0, 0, 0, 0.2);
$black-opacity-level25: rgba(0, 0, 0, 0.25);
$black-opacity-level1: rgba(0, 0, 0, 0.12);
$black-opacity-level3: rgba(0, 0, 0, 0.14);
$formBackGroundGray: #E4E5E8;
$lightGrey: #e3e4e8;
$darkGrey: #818792;
$lightGrey2: #efefef;
$placeholderGrey: #cccccc;
$ag_grey: #c6c6c6;
$suvaGrey: #8f8f8f;
$snow: #fbfbfb;
$orange: #FF6600;

// Colors used in Golf
$ag_golf_green : #43a047;


// Default colors
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #43A047;
// Theme green color
$theme-green: #43A047;
$theme-green-light: #77BB77;
$theme-green-lighter: #c1ebc1;
$theme-green-lightest: #DDEEDD;
$theme-green-dark: #238823;

$theme-blue-lighttest:#d4e0f2;
$theme-blue-light:#9fc2f5;
$theme-blue-selection:#d4e0f2;


// Secondary color
$gray: #AAAAAA;
$gray-darker: #444444;
$gray-dark: #888888;
$gray-light: #DDDDDD;
$gray-lighter: #EFEFEF;
$gray-lightest: #f9f9f9;
$gray-dim: #E4E5E8;

// Tee time color
$orange-grayish: #F7E5CC;
$red-grayish: #E1C6C6;
$red-soft: #E39595;
$cyan: #ff0000;
$cyan-light: #CCEFF7;

$yellow: #FFFF8D; // special notes

$black-light: rgba(0, 0, 0, 0.5);
// $black-lighter: rgba(0, 0, 0, 0.3);
$black-lightest: rgba(0, 0, 0, 0.15);
$black-very-lightest: rgba(0, 0, 0, 0.06);
$black-dark: rgba(0, 0, 0, 0.75);

$blue-bayoux: #60777D;

//spa colors
// Define the All colours in this File

$IndigoColour: #264348; //  INDIGO COLOR
$PureWhite: #ffff; //PureWhite
$DarkOrange: #d35400; //Dark Orange
$black: #000000;
$accent: #2ecc71;
$silver: #ecf0f1;
$trueblack: #000000;
$gold: #C58D0B;
$blue: #42DDF5;
$wetapsat: #34495e;
$lightgrey: #6f7c8a;
$grey: grey;
$lightwhite: #ecf0f1;
$darkgrey: #34495e;
$lightraygrey: #f9f7f7;
$lightsemigrey: #f6f8f9;
$lightsemiBlack: #566071;
$pureblack: #000;
$textblack: #1D1D1D;
$semigrey: #faf5f5; //Using Setting Page
$semilightgreyWhite: #cecece; //Using Setting page Border
$HexaGrey: #b6b6b6; //Using Setting button
$HexaWhite: #dddddd; //Using Button-wite
$HexaLightWhite: #ececec; //Using Header Light Grey
$StrongGreen: #008000;
$StrongRed: #FF0000;
$Green: #7ACC33;
$Red: #CC4B33;
$TableBlack: #3a3a3a;
$Darkgold: #484848;
$goldMenuColor: #FAF5F5;
$blueMenuColor: #FAF5F5;
$secondaryButtonGrey: #9E9E9E;
$lightyellow: #D0A33B;
$lightgoldcircle: #f8f3e5;
$secondaryButtonPressed: #e7dabc;
$darkyellowonpress: #AA7A0B;
$toggleBG: #C6C6C6;
$dullgrey: #e0e0e0;
$tertiarygold: #f8f3e4;
$tertiarygolddark: #e8dabb;
$lightblack: rgba(0, 0, 0, 0.54);

$lightGray: #D1D2D3;
$lightSilverGrey: #8E8E8E;
$darkSilver: #B7B7B7;
$brightGrey: #EFEFEF;
$lightSeaBlue: #D5ECFF;
$darkGreen: #16BA62;
$darkRed: #E30404;
$mintCream: #F7FEFF;
$paleYellow: #FFFABF;
$seaBlue: #36C9DD;
$lightOrange: #DDA336;
$lightGreen: #36DD50;
$whiteSmoke: #F6F6F6;
$formFieldGray: #434A54;
$formBackGroundGray: #E4E5E8;
$tabTextGray: #818892;
$color-theme: #fff;
$whiteOpacity: #ffffff99;
$grayLight: rgba(204, 204, 204, 0.35);
$appointmentColor: #545454;
$scheduled: #4ECDC4;
$checkedout: #F27935;
$checkedOut-bg: #f2793533;
$upcoming-bg: rgba(190, 155, 91, 0.2);
$clients: #19B5FE;
$therapist: #674172;
$tabBackGroundGray: #F5F5F5;
$noShow: #CF000F;
$darkGray: #4C4C4C;
$border-grey-fullopacity: rgba(112, 112, 112, 1);
$borderGray: rgba(112, 112, 112, 0.2);
$borderlightGray: rgba(112, 112, 112, 0.1);
$border-grey-opacity5: rgba(112, 112, 112, 0.5);
$searchbox-bg: #5a5a5a;
$grayRadio: #C9C9C9;
$inputPlaceholderGray: #DCDCDC;
$recentRowGray: #DBDBDB;
$nearlyCheckOut: #EF4917;
$appoinment-actions-gray: #8188924d;
$appointment-actions-menu: #e4e5e84d;
$shop-border-bottom: #81889280;
$white-transparent: #ffffff73;
$border-shop: #AAA8A8;
$left-arrow-gray: #9A9292;
$stepper-color: #e4e5e880;
$button-split-color: #e1cea2;
$more-legend: #6C7A89;
$success-green: #15a552;
$screen-grey: #e8e9e9;
$warning-blue: #a9f3f0;
$Beige: #F7EFDD ;
/*new style end*/

$linkWater: #CCD3D7;
/*$gainsboro: #DCDCDC;*/
$lightSeaGreen: #adad09;
$neonPink: #F46BCA;
$ceruleanBlue: #274BE3;
$floralWhite: #FFF9EB;
$aliceBlue: #F4F5F6;
$lavender: #e7e7ea;
$suvaGrey: #898989;
$tuna: #434953;
$color-light-grey: #e2e2e2;
$logo-gold: #FFB600;
$box-shadow-opacity: rgba(0, 0, 0, 0.2);
$black-opacity: rgba(0, 0, 0, 0.12);
$black-opacity8: rgba(0, 0, 0, 0.8);
$accordian-opacity: rgba(0, 0, 0, 0.14);
$thbg: rgba(221, 221, 221, 0.87);
$black-opacity42: rgba(0, 0, 0, 0.42);
$reports-bgColor: #fbfbfc;
$snow: #fcf9f9;
$shop-background: #f0f0f2;
$resolution-grey: #808080;
$resolution-black: #3D3D3D;

$grey-global: #E5E5E5;
$white-global: #f0f0f0;
$light-yellow: #F9F3E6;
$light-grey-global: #82808061;

$azure: #F6F7F7;
$very-light-grey: #c8c8c8;
$shady-grey: #9e9698;
$light-white: #fefefe;
$papayawhip: #fff7ea;
$tick-color: #aec81f;
$cross-color: #a73535;
$grey: #7E7E7E;

$custom-label-color: #0000008a;
$custom-value-color: #000000de;

// Text Color
$text-color-dark: #2D3236;

// Report
$reports-bgColor: #fbfbfc;
$button-split-color: #e1cea2;
$PureWhite: #ffff; //PureWhite

//spa colors
// Define the All colours in this File

$IndigoColour: #264348; //  INDIGO COLOR
$PureWhite: #ffff; //PureWhite
$DarkOrange: #d35400; //Dark Orange
$black: #000000;
$accent: #2ecc71;
$silver: #ecf0f1;
$trueblack: #000000;
$gold: #C58D0B;
$blue: #42DDF5;
$wetapsat: #34495e;
$lightgrey: #6f7c8a;
$grey: grey;
$lightwhite: #ecf0f1;
$darkgrey: #34495e;
$lightraygrey: #f9f7f7;
$lightsemigrey: #f6f8f9;
$lightsemiBlack: #566071;
$pureblack: #000;
$textblack: #1D1D1D;
$semigrey: #faf5f5; //Using Setting Page
$semilightgreyWhite: #cecece; //Using Setting page Border
$HexaGrey: #b6b6b6; //Using Setting button
$HexaWhite: #dddddd; //Using Button-wite
$HexaLightWhite: #ececec; //Using Header Light Grey
$StrongGreen: #008000;
$StrongRed: #FF0000;
$Green: #7ACC33;
$Red: #CC4B33;
$TableBlack: #3a3a3a;
$Darkgold: #484848;
$goldMenuColor: #FAF5F5;
$blueMenuColor: #FAF5F5;
$secondaryButtonGrey: #9E9E9E;
$lightyellow: #D0A33B;
$lightgoldcircle: #f8f3e5;
$secondaryButtonPressed: #e7dabc;
$darkyellowonpress: #AA7A0B;
$toggleBG: #C6C6C6;
$dullgrey: #e0e0e0;
$tertiarygold: #f8f3e4;
$tertiarygolddark: #e8dabb;
$lightblack: rgba(0, 0, 0, 0.54);

$lightGray: #D1D2D3;
$lightSilverGrey: #8E8E8E;
$darkSilver: #B7B7B7;
$brightGrey: #EFEFEF;
$lightSeaBlue: #D5ECFF;
$darkGreen: #16BA62;
$darkRed: #E30404;
$mintCream: #F7FEFF;
$paleYellow: #FFFABF;
$seaBlue: #36C9DD;
$lightOrange: #DDA336;
$lightGreen: #36DD50;
$whiteSmoke: #F6F6F6;
$formFieldGray: #434A54;
$formBackGroundGray: #E4E5E8;
$tabTextGray: #818892;
$color-theme: #fff;
$whiteOpacity: #ffffff99;
$grayLight: rgba(204, 204, 204, 0.35);
$appointmentColor: #545454;
$scheduled: #4ECDC4;
$checkedout: #F27935;
$checkedOut-bg: #f2793533;
$upcoming-bg: rgba(190, 155, 91, 0.2);
$clients: #19B5FE;
$therapist: #674172;
$tabBackGroundGray: #F5F5F5;
$noShow: #CF000F;
$darkGray: #4C4C4C;
$border-grey-fullopacity: rgba(112, 112, 112, 1);
$borderGray: rgba(112, 112, 112, 0.2);
$borderlightGray: rgba(112, 112, 112, 0.1);
$border-grey-opacity5: rgba(112, 112, 112, 0.5);
$searchbox-bg: #5a5a5a;
$grayRadio: #C9C9C9;
$inputPlaceholderGray: #DCDCDC;
$recentRowGray: #DBDBDB;
$nearlyCheckOut: #EF4917;
$appoinment-actions-gray: #8188924d;
$appointment-actions-menu: #e4e5e84d;
$shop-border-bottom: #81889280;
$white-transparent: #ffffff73;
$border-shop: #AAA8A8;
$left-arrow-gray: #9A9292;
$stepper-color: #e4e5e880;
$button-split-color: #e1cea2;
$more-legend: #6C7A89;
$success-green: #15a552;
$screen-grey: #e8e9e9;
$warning-blue: #a9f3f0;
$Beige: #F7EFDD ;
/*new style end*/

$linkWater: #CCD3D7;
/*$gainsboro: #DCDCDC;*/
$lightSeaGreen: #adad09;
$neonPink: #F46BCA;
$ceruleanBlue: #274BE3;
$floralWhite: #FFF9EB;
$aliceBlue: #F4F5F6;
$lavender: #e7e7ea;
$suvaGrey: #898989;
$tuna: #434953;
$color-light-grey: #e2e2e2;
$logo-gold: #FFB600;
$box-shadow-opacity: rgba(0, 0, 0, 0.2);
$black-opacity: rgba(0, 0, 0, 0.12);
$black-opacity8: rgba(0, 0, 0, 0.8);
$accordian-opacity: rgba(0, 0, 0, 0.14);
$thbg: rgba(221, 221, 221, 0.87);
$black-opacity42: rgba(0, 0, 0, 0.42);
$reports-bgColor: #fbfbfc;
$snow: #fcf9f9;
$shop-background: #f0f0f2;
$resolution-grey: #808080;
$resolution-black: #3D3D3D;

$grey-global: #E5E5E5;
$white-global: #f0f0f0;
$light-yellow: #F9F3E6;
$light-grey-global: #82808061;

$azure: #F6F7F7;
$very-light-grey: #c8c8c8;
$shady-grey: #9e9698;
$light-white: #fefefe;
$papayawhip: #fff7ea;
$tick-color: #aec81f;
$cross-color: #a73535;
$grey: #7E7E7E;

$custom-label-color: #0000008a;
$custom-value-color: #000000de;

/** Dashboard */

$Turquoise: #26ebc0;
$Porcelain: #e0dedc;
$ClearDay: #dafcf4;
$Zorba: #9f9b97;
$Heather: #b4bdc3;

/* Graphical */
$mildGreenDarkRow: #F1F6F1;
$mildGreenLightRow: #F5FAF5;

$theme-light-bg: #E9DED4;
$theme-dark-bg: #a4fab9;
$black-opacity38: rgba(0, 0, 0, 0.38);
$header-bg: #2d3236;
$theme-color: #1d3faa;


// default theme - grey
$mildGrey : #aeb4b8;
$plum : #835c84;
$black-theme: #2322223b;
$dark-plum: #5e3f5e;
$grey-plum : #ffffffa6;

// default theme - black
$mildBlack : rgb(74, 72, 72);
$black : #000000;
// $black-theme: #2322223b;
$light-black: #5e3f5e;
// $grey-plum : #ffffffa6;
// $theme_white: #fff;

// orange theme
$theme_orange: rgb(238,116,31);
$theme_darkOrange: rgb(112, 54, 7);

// navy blue theme
$theme_blue: rgb(72,145,206);
$theme_navyBlue: rgb(0,68,106);

// green theme
$theme_green: rgb(72,169,76);
$theme_grey: #3a754c;


$blue-shade12: rgb(215,228,250);
$blue-shade13: rgb(241,243,249);
$menu-hover-color: rgba(255, 255, 255, 0.12);
$blue-shade4: #F0F4FA;
$blue-shade3: #E4E9F5;
$header-font-color: rgba(255, 255, 255, 0.6);

//menu new style color variables
$menu-black: rgba(46, 46, 46, 1);
$menu-light-black: rgb(0, 0, 0);
$menu-primary-gold:  #D4BDA9;
$menu-primary-light-gold:  rgba(197, 141, 11, 0.12);
$menu-primary-light-yellow: #C9AD94; //rgba(221, 189, 117, 1);
$menu-secondary-gold: #D4BDA9;
$menu-dark-gold: #855124;;
$menu-light-blue: rgba(241, 242, 243, 1);
$menu-ligter-gold: #F4EEE9;
$menu-lighter-link-gold:#945B29;
$menu-new-header-black:#000000;
$menu-new-theme-header-backgorund:#1c1b1b;
$retail-primary-100: #945B29 ;
$retail-primary-110: #855124;
$retail-primary-60: #BE9C7E;
$retail-primary-40: #D4BDA9;
$retail-primary-20: #E9DED4;
$retail-primary-10: #f4EEE9;
$primary-text-grey: #2E2E2E;
$secondary-text-grey: #555555;
$tertiary-text-grey: #8D8D8D;
$menu-header-grey: #1C1B1B;
$header-text-grey: #A4A4A4;
$border-grey: #AEAEAE;
$ag-retail-background-grey: #F4F5F6;
$menu-highlight-color: #457bd1;
$new-background-color:#f4f5f6;
$new-table-header-color: #d8e3f5;
$new-dropdown-color: #EBF1FA;
$new-dropdown-text-color: #000000DE;
$new_toggle_off_state: #00000061;
$new_mat-error: #B00020;
$discountRate-bg-color : #ecd7c4;
$model-bg: $blue-shade4;
$retail-box-shadow: #D5D8E0CC;
$new_background_grey : #F4F5F6;

/*Distribution List Variable and colors*/
$theme-border: $retail-primary-40;
$theme-box-shadow: $retail-box-shadow;
$theme-mat-ink-bar: $retail-primary-100;
$theme-mat-label-active: $retail-primary-20;
$theme-selected-toggle: $retail-primary-10;
$theme-background-color: $new-background-color;
$theme-modal-header-color: $retail-primary-20;

//Data Express
$violet-light: #d5dbed;


