@import './variables';

@import './_color';
/*
  ****
  @Define the Media Queries for Tablet, Desktop
  @Params Pass the Paramenter
  ****
*/

$ag_media-queries:(
    "small":  ( breakpoint:'(max-width: #{$small-max-width})'),
    "medium": ( breakpoint:'(min-width: #{$medium-min-width}) and (max-width: #{$medium-max-width})'),
    "large":  ( breakpoint:'(min-width: #{$large-min-width}) and (max-width: #{$large-max-width})')
);

@mixin ag_media-query ($size) {
    @each $item, $value in $ag_media-queries {
            @if $item == $size {
                @if map-get($value, breakpoint) != null {
                        @media only screen and #{map-get($value, breakpoint)}{
                            @content;
                }
            }
        }
    }
}

@mixin sticky-header($top, $bgColor, $zindex) {
    position: sticky;
    top: $top;
    background-color:$bgColor;
    z-index: $zindex;
}

@mixin set-browser-prefix($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  -o-#{$property}: $val;
  #{$property}: $val;
}
// Call the above method like this ---> .box { @include set-browser-prefix('transform', rotate(30deg)); }

@mixin media-query($min-width: null, $max-width: null)
{   
    @if ($min-width and $max-width) {
        @media screen and (max-width: $max-width) and (min-width: $min-width) {
            @content;
        }
    }
    @else if($max-width) {
        @media screen and (max-width: $max-width){
            @content;
        }
    }
    @else if($min-width) {
        @media screen and (min-width: $min-width){
            @content;
        }
    }
}




//From Golf
$golf-media-queries:(

    "small":  ( breakpoint:'(max-width: #{$small-max-width})'),
    "medium": ( breakpoint:'(min-width: #{$medium-min-width}) and (max-width: #{$medium-max-width})'),
    "large":  ( breakpoint:'(min-width: #{$large-min-width}) and (max-width: #{$large-max-width})')
);

@mixin golf-media-query ($size) {
    @each $item, $value in $golf-media-queries {
            @if $item == $size {
                @if map-get($value, breakpoint) != null {
                        @media only screen and #{map-get($value, breakpoint)}{
                            @content;
                }
            }
        }
    }
}



@mixin sticky-header($top, $bgColor, $zindex)
{
    position: sticky;
    top: $top;
    background-color:$bgColor;
    z-index: $zindex;
}

@mixin media-query($min-width: null, $max-width: null)
{   @debug $min-width;
    @if ($min-width and $max-width) {
        @media screen and (max-width: $max-width) and (min-width: $min-width) {
            @content;
        }
    }
    @else if($max-width) {
        @media screen and (max-width: $max-width){
            @content;
        }
    }
    @else if($min-width) {
        @media screen and (min-width: $min-width){
            @content;
        }
    }


    }



     //SPA MIXIN

// Color themes
$themes: (
  goldtheme: $gold,
  bluetheme: $blue,
  greytheme: ''
  );
  // Helper theme mixin
  // @param $name: name of the theme (HTML class)
  // @param $color: color of the theme
  @mixin theme($name, $color, $color-text, $colorbackground,$icon-bg, $colorborder, $header-background, $header1_active-bg ,$menu-background,$header1_icon) {
    .#{$name} {
      .wrapper-container {
        .header-background {
          background: $header-background !important;
          .nav-section {
            
            .navItem {
              ul {
                li {
                  i {
                    color: $header1_icon !important;
                  }
                  a,
                  label {
                    color: $color-text !important;
                    &.active-link,
                    &:focus {
                       background-color:  $header1_active-bg !important;
                        color: $color-text !important;
                      i {
                        color: $color-text !important;
                      }
                    }
                    &:hover {
                        background-color:  $header1_active-bg !important;
                        color: $color-text !important;
                      i {
                         color: $color-text !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .vertical-header .nav-section .navItem ul li.text a.active-link, .vertical-header .nav-section .navItem ul li.text label.active-link{
          color: $color-text !important;
          background-color: $header-background !important;
        }
        .profile-section {
          .notifyClass  {
            .icon-notify {
              color: $icon-bg !important;
            }       
            .icon-help_question {
              color: $icon-bg !important;
            }     
            .icon-menu-search {
              color: $icon-bg !important;
            }
          }
          .buttonStyle { 
            border: 1px solid $header-background !important;
            background: unset !important; 
            .icon-search-class .icon-Circle {
              color: $icon-bg !important;
            }         
          }
          .user-details {
            .detail-section {
              .user-name {
                color: $color-text !important;
              }
              .user-role {
                color: $color-text !important;
              }
            }
            .initial-box {
              background: $header1_active-bg !important;
              color: $color-text !important;
            }
          }
        } 
      }
      .theme-color-wrapper{
          background: $header-background !important;
      }

      .mat-tab-link.mat-tab-label-active, .mat-tab-label.mat-tab-label-active {
        color: $color-text !important;
      }

      .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
        background-color: $header1_active-bg !important;
      }

      .icon-Minus, .icon-Plus {
        color: $color-text !important;
      }

      .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: $color-text !important;
      }

      .body-bgcolor {
        background-color: $header-background !important;
      }

      .whitecolor {
        color: $color-text !important;
      }

      .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
        background-color: $header-background !important;
      }

      .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $color-text !important;
      }

      ui-switch .switch.checked {
        background: $header-background !important;
      }

      .setNotificationConfiguration .themecolor {
        color: $header-background !important;
      }
      .spa-primary-default-save {
        background-color: $header-background !important;
      }
      .spa-primary-default-save:hover {
        background-color: $header-background !important;
      }
      .mat-button-wrapper {
        color: $color-text !important;
      }
      .border-color {
        border-color: $colorborder !important;
      }
      .border-left-color{
        border-left-color: $color !important;
      }
      .circle-hover{
        background-color: $lightyellow !important;  /*******NOTE: Change one theme Color base*******/
      }
      .circle-disbled{
        background-color: $lightgrey !important;  /*******NOTE: Change one theme Color base*******/
      }
      .color-onpressed{
        background-color: $darkyellowonpress !important;
      }
      .color-secondary-pressed{
        background-color: $color-secondary-button-pressed;
      }

      .switch2, .switch3 {
        .slider::before {
          background-color: $colorbackground !important;
        }
      }

      .selectedBtn {
        background-color: $colorbackground !important;
      }

      .body-bgcolor {
        background-color: $colorbackground !important;
      }
      .switch-toggle{
      .switch.checked{
        // background-color: $colorbackground !important;
      }
    }
   .loader-wrapper{
    .loader-content{
    .spinner{
      circle{
          stroke: $color;
      }
      }
    }
   }

      .body-color {
        background: $colorbackground !important;
      }
      .timepicker__header{
        background: $colorbackground !important;
      }
      .clock-face__number{
        span{
          &.active{
            background: $colorbackground !important;
          }
        }
      }
      .timepicker-button{
        color:$colorbackground !important;
      }
      .clock-face__clock-hand{
        background: $colorbackground !important;
        &::before{
          border: 4px solid $colorbackground !important;
        }
        &::after{
          background-color: $colorbackground !important;
        }
      }

      .body-bordercolor {
        border: 1px solid $colorbackground !important;
      }

      .header-background {
        background-color: $header-background !important;
      }
      button.hover_css.mat-button:hover {
        background-color: $colorbackground !important;
      }

      .text-color {
        color: $color-text !important;
      }

      .active-link {
        color: $color !important;
      }

      .header-bar {
        nav {
          li {
            a {
              &:before {
                background: $color !important;
              }
            }
          }
        }
      }

      .color-numbers {
        color: $color !important;
      }
      .mat-step-label-active {
        color: #818892 !important;

        &.mat-step-label-selected {
          color: #000000 !important;
        }
      }

      .ngx-pagination {
        .current {
          background-color: $colorbackground !important;
        }
      }
    }
  }
    // Including themes
    // By looping through the $themes map
    @each $key, $value in $themes {
      $color-text: null;
      $color-background: null;
      $color-border: null;
      $header-background: null;
      $menu-background: null;
      $color-theme: null;
      $header1_active-bg : null;
      $header1_icon: null;
      $icon-bg:null;
      @if $key == "goldtheme" {
        $color-background: $gold;
        $color-text: $gold;
        $color-border: $gold;
        $header-background: $Darkgold;
        $menu-background: $goldMenuColor;
        $color-theme:$gold;
      }
      @else if $key == "bluetheme" {
        $color-background: $blue;
        $color-text: $blue;
        $color-border: $blue;
        $header-background: $lightsemiBlack;
        $menu-background: $blueMenuColor;
        $color-theme: $blue;

      }
      @else if $key == "greytheme" {        
        $header-background: $theme_grey_base_color;
        $color-text: $ag_base-text-black;
        $colorborder: $theme_grey_base_color;
        $header1_icon: $ag_base-text-black;
        $header1_active-bg :$active_bg; 
        $icon-bg:$active_bg;
      }
      @include theme($key, $value, $color-text, $color-background,$icon-bg, $color-border, $header-background, $header1_active-bg ,$menu-background,$header1_icon);
    }


  /*
    ****
    @Define the Media Quires for Tablet, Desktop, Mobile
    @Params Pass the Paramenter
    ****
  */

    $spa-media-queries: (
      tablet: ( breakpoint: '(min-width: 480px) and (max-width: 768px)'),
      mobile: ( breakpoint: '(max-width: 480px)'),
      midLevel: ( breakpoint: '(min-width: 1024px) and (max-width: 1200px)'),
      retailLevel: (breakpoint: '(min-width: 1024px) and (max-width: 1220px)')
    );



    @mixin spa-media-query ($size) {

      @each $item, $value in $spa-media-queries {

        @if $item == $size {

          @if map-get($value, breakpoint) != null {

            @media only screen and #{map-get($value, breakpoint)} {

              @content;

            }

          }

        }

      }

    }

  