[submodule "src/app/common"]
	path = src/app/common
	url = https://AGYS-VisualOne@dev.azure.com/AGYS-VisualOne/Common/_git/CommonUI
[submodule "src/app/retail"]
	path = src/app/retail
	url = https://AGYS-VisualOne@dev.azure.com/AGYS-VisualOne/Common/_git/RetailUI
