@import 'src/assets/sass/abstracts/variables';
.copy-roles-section{
    width: 100%;
    display: inline-block;
    height: 100%;
    .form-section{
        height: 100%;;
    }
    .content-section{
        height: calc(100% - 64px);
    .copy-from,.copy-to{
        float: left;
    }
}

.dialog-section{
    height: 4rem;
    width: 100%;
    display: inline-block;
    border-top: 1px solid $color-shop-border;   
  }
}


.pop-container{
    height: 100%;
    .pop-head{
        height:64px;
        position: relative;
        &.border-top{
        border-bottom: 1px solid $color-shop-border;
        }
        .inner-header{
            position: absolute;
            top: 24px;
            font-size: 20px;
            text-transform: uppercase;
            color:$color-text-color;
        }
        .inner-close{
            position: relative;
            top:19px;
            right:1rem;
            color:$color-base;
        }
        .cursPointer{
            cursor: pointer;
        }
    }
    .pop-contents{
        height: calc(100% - 64px);
        .mat-dialog-content{
            padding: 24px;
            margin: unset;
        }
    }
  }