<div class="list-container h-100 p-4">
  <!--Start  Select Dropdropdown Container div -->
      <div class="select-container hide-underline ag_display--flex align-items-baseline">
          <mat-form-field class="select-width select-class float-label-box" [floatLabel]="floatLabel">
              <mat-select [attr.automationId]="'Dd_transactionHistory_historyType'" id="selectHistoryType" #selectSetup [(ngModel)]="historyType" (selectionChange)="changeType()" >
                  <mat-option *ngFor="let type of historyTypes" [value]="type.id" >
                     {{ type.name }}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <div class="yes-col ag_ml--auto ag_display--flex" *ngIf = "historyType == 3">
            <label class="LW12 d-block form-label-normal ag_mr--2">{{captions.expiredMultipacks}}</label>
            <app-toggle-switch [attr.automationId]="'Tog_transactionHistory_expiredMultipacks'" (changeToggleEvent)="showExpiredMultipacks($event[0])"></app-toggle-switch>
          </div>
      </div>
      <div class = "view-data mt-2" [ngClass] ="{'adjust-height':historyType == 2}">
        <label for="transaction" class="LW14 float-left label-table mt-2" *ngIf = "historyType == 2">{{captions.Transactions}}</label>
        <label for="transaction-details" class="LW14 float-left transaction-details-label mt-2" *ngIf = "historyType == 2">{{captions.TransactionDetails}}</label>
        <div class="transaction-div h-100 grid-table" [ngClass]="{'w-100' : historyType == 3}">
          <ng-scrollbar [trackX]="true" [autoHide]="true">
            <table id="table-{{historyType}}" class="">
              <thead>
                <th *ngFor = "let header of tableHeaderArray" class="" [ngStyle]="{'text-align':header.alignType}"><span>{{header.tableHeader}}</span></th>
              </thead>
              <tbody>
                <tr *ngFor = "let displayData of sortdataArray" (click)="selectedRow(displayData)" >
                  <!-- [ngClass]="{'add-bg':historyType == 2 && selectedRowItem.transaction == displayData.transaction}" -->
                  <td *ngFor = "let header of tableHeaderArray" class="textellipsis" [ngStyle]="{'text-align':header.alignType}" >
                    <span [matTooltipDisabled] = "displayData[header.keyValue] ? (displayData[header.keyValue].toString()).length < 40 : true" matTooltip="{{displayData[header.keyValue]}}" matTooltipClass="tooltipClass">
                      <span  *ngIf="header.keyValue != 'date'">{{displayData[header.keyValue]}}</span><span *ngIf="header.keyValue == 'date' && historyType >2">{{displayData[header.keyValue] | date:'shortDate'}} {{displayData[header.keyValue] | date:'shortTime'}}</span>
                    <span *ngIf="header.keyValue == 'date' && historyType ==2">{{displayData[header.keyValue]}}</span>
                  </span>
                </td>
                  </tr>
                  <tr *ngIf="tableDataArray.length == 0">
                    <td class="LW14 text-center no-data" [attr.colspan]="tableHeaderArray.length">{{captions.NoDataFound}}</td>
                </tr>
              </tbody>
            </table>
          </ng-scrollbar>
        </div>

        <section *ngIf = "historyType == 2" class="ml-2 mr-2 h-100 transaction-details">
          <ng-scrollbar [trackX]="true" [autoHide]="true">
            <table class="">
              <thead class="LW12">
                <th>{{captions.Quantity}}</th>
                <th>{{captions.Description}}</th>
                <th>{{captions.Price}} ({{localization.currencySymbol}})</th>
              </thead>
              <tbody class="LW12">
                <tr *ngFor="let item of itemArray">
                  <td>{{item.quantity}}</td>
                  <td>{{item.name?item.name:""}}</td>
                  <td>{{item.price}}</td>
                </tr>
                <tr *ngIf="itemArray.length == 0">
                    <td class="LW14 text-align-center no-data" [attr.colspan]="3">{{captions.NoDataFound}}</td>
                </tr>
              </tbody>
            </table>
          </ng-scrollbar>
        </section>
      </div>
</div>
