@import '../../../assets/sass/abstracts/variables';

$header-bg: #2d3236;
#eatec-wrapper{  
    
    height: 100%;
    width: 100%;
  
    .subnav-wrapper {
        height: 60px;
        padding-left: 1.5rem;
        background: #f4f4f6;
      
        .mat-form-field-underline {
          display: none;
        }
      }
    .vertical-header {
        height: calc(100% - 63px);
        width: 100%;
        display: flex;
        .nav-section {
            width: 250px;
            border-right: 1px solid #ddd;
            overflow: auto;
            height: 100%;
          .navItem {
            ul {
              display: block;
              li {
                display: inline-block;
                &.text {
                  border-bottom: 1px solid #ddd;
                  cursor: pointer;
                  width: 100%;
                  line-height: 5px;
                  i {
                    font-size: 16px;
                    padding-right: 0.25rem;
                  }
                  .icon-down-arrow {
                    font-size: inherit;
                    padding: 0px 5px 0px 10px;
                  }
                  a,
                  label {
                    display: block;
                    transition: all 0.5s ease-in-out;
                    color: $header-bg;//!important;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400; 
                    padding: 16px;
                    &.active-link { 
                      opacity: 1;
                      color: #000;//!important;
                      cursor: pointer;
                      font-weight: 500;
                      font-family: $ag_lato-bold;
                    }
                  }
                  .arrow-section {
                    width: 0;
                    display: inline-block;
                    height: 0;
                    border-left: 5px solid;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                  }
                }
              }
            }
          }
        }
        .side-container{
            width: calc(100% - 250px);
        }
      }
      .menuHide {
        color: #666666;
        pointer-events: none;
        opacity: 0.4 !important;
      }
}

body#new-mat-view{
  #eatec-wrapper{
    .mat-form-field-appearance-legacy {
      .mat-form-field-infix {
        border: unset;
        border-radius: unset;
        padding: 0.4375em 0;
        height: unset;
      }
    }
    .float-label-box{
      margin-top: 15px!important;
    }
  }  
  }
  body.new-mat-view{
    #eatec-wrapper{
      .mat-form-field-appearance-legacy {
        .mat-form-field-infix {
          border: unset;
          border-radius: unset;
          padding: 0.4375em 0;
          height: unset;
        }
      }
      .float-label-box{
        margin-top: 15px!important;
      }
    }  
    }