<section class="retail-settings h-100">
  <form [formGroup]="retailSettingsFormGrp" class="retail-setting-form h-100">
    <div class="settings-div h-100 d-flex">
      <div class="retail-settings-left pl-4">
        <ng-scrollbar [autoHide]="true">
          <mat-form-field class=" pt-3 w250" [floatLabel]="floatLabel">
            <mat-select formControlName="rolename" (selectionChange)="OnRoleChange($event)" placeholder="{{caption.setting.RoleName}}">
              <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error class="" *ngIf="!IsRoleSelected">
            {{caption.setting.MissingRoleName}}
          </mat-error>

          <div class="">
            <label class="d-block pt-1 mb-2 form-label-normal">{{caption.setting.AccountBlocked}}</label>
            <app-toggle-switch class="" formControlName="accountblocked" (changeToggleEvent)="sliderChange($event)"></app-toggle-switch>
          </div>

          <div class="pt-3 ag_display--flex">
            <div class=" pr-4 autologoff">
              <label class="d-block mt-3 form-label-normal mb-2 autologoff-label">{{caption.setting.AutoLogoff}}</label>
              <div class="mt-1 float-left">
                <app-toggle-switch formControlName="autologoff" (changeToggleEvent)="sliderChange($event, 'ALO')"></app-toggle-switch>
              </div>
            </div>

            <div class="logoff pl-3">
              <label class="logofflabel form-label-normal d-block">{{caption.setting.LogoffAfter}}</label>
              <mat-form-field class="" floatLabel="never">
                <input matInput autocomplete="off" placeholder="{{caption.setting.InMinutes}}" [maxLength]="3"
                  inputtype="nonnegative,nodecimal" formControlName="logoffafter">
              </mat-form-field>
            </div>
          </div>

          <div class="pr-4 mt-2">
            <label class="d-block  form-label-normal mb-2">{{caption.setting.AllowGratuity}}</label>
            <app-toggle-switch formControlName="allowgratuity" (changeToggleEvent)="sliderChange($event)"></app-toggle-switch>
          </div>

          <div class=" pr-4 pt-4">
            <label class="d-block form-label-normal mb-2">{{caption.setting.AllowServiceCharge}}</label>
            <app-toggle-switch formControlName="allowservicecharge" (changeToggleEvent)="sliderChange($event)"></app-toggle-switch>
          </div>

          <div class="pt-4 d-inline-block">
            <div class="  float-left  allow-commission">
              <label class="d-block  form-label-normal mb-2">{{caption.setting.AllowCommission}}</label>
              <app-toggle-switch formControlName="allowcommission" (changeToggleEvent)="sliderChange($event, 'AC')"></app-toggle-switch>
            </div>

            <div class="commission float-left pl-3">
              <mat-form-field class="" [floatLabel]="floatLabel">
                <input matInput autocomplete="off" [required]="this.isCommissionClassRequired" placeholder="{{caption.setting.CommissionClass}}" [maxlength]="9"
                  inputtype="nonnegative,nodecimal" formControlName="commissionclass">
                <mat-error class="" *ngIf="retailSettingsFormGrp.controls['commissionclass'].hasError('required') && !retailSettingsFormGrp.controls['commissionclass'].valid">
                  {{caption.setting.MissingCommissionClass}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-scrollbar>
      </div>
      <div [ngClass]="{'button_invalid': IsReadOnly}" class="retail-settings-right pl-4 pt-4">
        <label class="LW12 form-label-normal">{{caption.setting.Outlets}}</label>
        <div class="LW16 pt-2 textColorGray" *ngFor="let outlet of outlets" (click)="ButtonToggle(servicesetting.selectedOutlets,outlet)">
          <span class="cursor"><i class="icon-font-size" [ngClass]="servicesetting.selectedOutlets.indexOf(outlet.id) !=-1 ? 'icon-SuccessDark text-color' : 'icon-Success'"></i>{{outlet.name}}</span></div>
      </div>
    </div>
  </form>
</section>