<section class="prop-info">
    <div class="prop-details">
  
  
      <ng-scrollbar [autoHide]="true">
    <div class= "prop-section" >
  
        <form [formGroup]="propertyInfo" autocomplete="off" [ngClass]="{'button_invalid': isViewOnly}">
          <mat-form-field class="name">
            <input type="text" matInput placeholder="{{captions.name}}" name="Name" formControlName="name" [maxlength]="25">
          </mat-form-field>
          <!-- Address Details -->
          <div class="address-details">
            <div formArrayName="address" *ngFor="let addressDetail of propertyInfo.get('address')['controls']; let i = index;">
              <div class="address-group" [formGroupName]="i">
                <mat-form-field class="address">
                  <input type="text" matInput placeholder="{{captions.address}}" name="Address" formControlName="addressDetails" [maxlength]="50">
                </mat-form-field>
                <!-- <button mat-mini-fab (click)="addAddress(i,'')" class="buttonCust1 m-md-2" type="button" *ngIf="i == 0 && addresslength != 3">
                  <span class="whitecolor">+</span>
                </button> -->
                <span class="icon-Plus" (click)="addAddress(i,'')"  *ngIf="i == 0 && addresslength != 3"></span>
                <!-- <button mat-mini-fab (click)="removeAddress(i)" class="buttonCust1 m-md-2" type="button" *ngIf="i != 0">
                  <span class="whitecolor">-</span>
                </button> -->
                <span class="icon-Minus" (click)="removeAddress(i)" *ngIf="i != 0"></span>
              </div>
            </div>
            <div class="postal-details">
              <mat-form-field class="postalCode">
                <input type="text" matInput placeholder="{{captions.postalCode}}" name="PostalCode" formControlName="postalcode" [maxlength]="7">
              </mat-form-field>
              <mat-form-field class="state">
                <input type="text" matInput placeholder="{{captions.state}}" name="State" formControlName="state" [maxlength]="10">
              </mat-form-field>
            </div>
            <div class="country-details">
              <mat-form-field class="city">
                <input type="text" matInput placeholder="{{captions.city}}" name="City" formControlName="city" > <!-- bug fix [maxlength]="10" 4128-->
              </mat-form-field>
              <mat-form-field class="country">
                <input type="text" matInput placeholder="{{captions.country}}" name="Country" formControlName="country"[maxlength]="10">
              </mat-form-field>
            </div>
          </div>
          <!-- Phone Details -->
          <div class="phone-info" *ngFor="let phone of propertyInfo.get('phone')['controls']; let i= index;" formArrayName="phone">
              <label class="form-label-primary blckClr mb-0">{{captions.phone}}</label>
            <div [formGroupName]="i">
              <mat-form-field class="phone" floatLabel="never">
                <mat-select placeholder="{{captions.phone}}" name="Phone" id="phone{{i}}" formControlName="phonelabel" >
                  <mat-option *ngFor="let phonetype of contactPhoneType" [value]="phonetype.Description">
                    {{phonetype.Description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="ph-no">
                <input matInput id="phone-number" [maxlength]="30" textmask="{{textmaskFormat}}" name="phoneNumber" formControlName="phonenumber" inputtype="onlynumber" [skipInputValidation]="skipPhoneNumberValidationonBlur" [maxlength]="10">
              </mat-form-field>
              <!-- <button mat-mini-fab (click)="addPhoneItem(i,'','')" class="buttonCust1 m-md-2" type="button" *ngIf="i == 0">
                <span class="whitecolor">+</span>
              </button> -->
              <span class="icon-Plus" (click)="addPhoneItem(i,'','')"  *ngIf="i == 0"></span>
              <!-- <button mat-mini-fab (click)="removePhoneItem(i)" class="buttonCust1 m-md-2" type="button" *ngIf="i != 0">
                <span class="whitecolor">-</span>
              </button> -->
              <span class="icon-Minus" (click)="removePhoneItem(i)"  *ngIf="i != 0"></span>
            </div>
          </div>
          <!-- Language Selection -->
          <mat-form-field class="lang">
            <mat-select placeholder="{{captions.language}}" name="Language" formControlName="language">
              <mat-option *ngFor="let langType of languageType" [value]="langType.code">
                {{langType.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Tenant Id -->
          <mat-form-field class="tenantId">
            <input type="text" matInput placeholder="{{captions.tenantId}}" name="TenantId" formControlName="tenantId" inputtype="onlynumber" [maxlength]="10">
          </mat-form-field>
          <!-- Property Code -->
          <mat-form-field class="propCode">
            <input type="text" matInput placeholder="{{captions.propertyCode}}" name="PropertyCode" formControlName="propCode" [maxlength]="10">
          </mat-form-field>
        </form>
  
    </div>
  </ng-scrollbar>
  </div>
    <div class="prop-actions">
      <div>
        <button class="LW14 save" mat-button (click)="save()" [ngClass]="enableSave ? 'spa-primary-default-save': 'spa-primary-disabled'">{{captions.save}}</button>
        <a class="LW14" (click)="cancel()">{{captions.cancel}}</a>
      </div>
    </div>
  </section>
  