<section class="prop-information-customized newVersionWrapper property-info-wrapper">
    <div class="prop-details">
      <ng-scrollbar visibility="hover">
    <div class= "prop-section" >

        <form [formGroup]="propertyInfo" autocomplete="off" [ngClass]="{'button_invalid': isViewOnly}">
          <div class="box-style">
            <mat-form-field [floatLabel]="floatLabel"class="name">  <mat-label>{{captions.name}}</mat-label>
              <input [attr.automationId]="'Txt_propertyInfo_name'" type="text" matInput name="Name" formControlName="name" [maxlength]="25">
            </mat-form-field>
            <!-- Address Details -->
            <div class="address-details">
              <div formArrayName="address" *ngFor="let addressDetail of propertyInfo.get('address')['controls']; let i = index;">
                <div class="address-group" [formGroupName]="i">
                  <mat-form-field [floatLabel]="floatLabel" class="address">  <mat-label>{{captions.address}}</mat-label>
                    <input [attr.automationId]="'Txt_propertyInfo_address'" type="text" matInput name="Address" formControlName="addressDetails" [maxlength]="50">
                  </mat-form-field>
                  <!-- <button mat-mini-fab (click)="addAddress(i,'')" class="buttonCust1 m-md-2" type="button" *ngIf="i == 0 && addresslength != 3">
                    <span class="whitecolor">+</span>
                  </button> -->
                  <span class="icon-Plus" (click)="addAddress(i,'')"  *ngIf="i == 0 && addresslength != 3"></span>
                  <!-- <button mat-mini-fab (click)="removeAddress(i)" class="buttonCust1 m-md-2" type="button" *ngIf="i != 0">
                    <span class="whitecolor">-</span>
                  </button> -->
                  <span class="icon-Minus" (click)="removeAddress(i)" *ngIf="i != 0"></span>
                </div>
              </div>
              <div class="postal-details">
                <mat-form-field [floatLabel]="floatLabel" class="postalCode">  <mat-label>{{captions.postalCode}}</mat-label>
                  <input [attr.automationId]="'Txt_propertyInfo_postalCode'" type="text" matInput name="PostalCode" formControlName="postalcode" [maxlength]="7" inputtype="nospecailchar">
                </mat-form-field>
                <mat-form-field [floatLabel]="floatLabel" class="state">  <mat-label>{{captions.state}}</mat-label>
                  <input [attr.automationId]="'Txt_propertyInfo_state'" type="text" matInput name="State" formControlName="state" [maxlength]="10">
                </mat-form-field>
              </div>
              <div class="country-details">
                <mat-form-field [floatLabel]="floatLabel" class="city">  <mat-label>{{captions.city}}</mat-label>
                  <input [attr.automationId]="'Txt_propertyInfo_city'" type="text" matInput name="City" formControlName="city"> <!-- bug fix [maxlength]="10" 4128-->
                </mat-form-field>
                <mat-form-field [floatLabel]="floatLabel" class="country">  <mat-label>{{captions.country}}</mat-label>
                  <input [attr.automationId]="'Txt_propertyInfo_country'" matInput type="text" formControlName="country" [matAutocomplete]="auto" autocomplete="off" [maxlength]="10" name="Country">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let country of filteredCountries | async" [value]="country.CountryName" [matTooltip]="country.CountryName">
                      <span>{{country.CountryName}}</span>
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="!propertyInfo.get('country').value && propertyInfo.get('country').hasError('required')">
                    {{captions.missingCountryName}}
                  </mat-error>
                  <mat-error *ngIf="propertyInfo.get('country').value && propertyInfo.get('country').hasError('invalid')">
                    {{captions.invalidCountryName}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- Phone Details -->
            <div class="phone-info" *ngFor="let phone of propertyInfo.get('phone')['controls']; let i= index;" formArrayName="phone">
                <label class="form-label-primary blckClr mb-0">{{captions.phone}}</label>
              <div [formGroupName]="i">
                <mat-form-field class="phone" [floatLabel]="floatLabel">  <mat-label>{{captions.phone}}</mat-label>
                  <mat-select [attr.automationId]="'Dd_propertyInfo_phoneType'" (selectionChange)="onPhChange($event, i ,phone)" name="Phone" id="phone{{i}}" formControlName="phonelabel">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let phonetype of contactPhoneType" [value]="phonetype.Description">
                      {{phonetype.Description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="ph-no" [floatLabel]="floatLabel">
                  <input [attr.automationId]="'Txt_propertyInfo_phNo'" matInput id="phone-number" [maxlength]="30" textmask="{{textmaskFormat}}" name="phoneNumber" formControlName="phonenumber" inputtype="onlynumber" [skipInputValidation]="skipPhoneNumberValidationonBlur">
                </mat-form-field>
                <!-- <button mat-mini-fab (click)="addPhoneItem(i,'','')" class="buttonCust1 m-md-2" type="button" *ngIf="i == 0">
                  <span class="whitecolor">+</span>
                </button> -->
                <span class="icon-Plus" (click)="addPhoneItem(i,'','')"  *ngIf="i == 0"></span>
                <!-- <button mat-mini-fab (click)="removePhoneItem(i)" class="buttonCust1 m-md-2" type="button" *ngIf="i != 0">
                  <span class="whitecolor">-</span>
                </button> -->
                <span class="icon-Minus" (click)="removePhoneItem(i)"  *ngIf="i != 0"></span>
              </div>
            </div>
            <!-- Language Selection -->
            <mat-form-field class="lang" [floatLabel]="floatLabel">  <mat-label>{{captions.language}}</mat-label>
              <mat-select [attr.automationId]="'Dd_propertyInfo_languageType'" name="Language" formControlName="language">
                <mat-option *ngFor="let langType of languageType" [value]="langType.code">
                  {{langType.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- Tenant Id -->
            <mat-form-field class="tenantId" [floatLabel]="floatLabel">  <mat-label>{{captions.tenantId}}</mat-label>
              <input [attr.automationId]="'Txt_propertyInfo_tenantId'" type="text" matInput name="TenantId" formControlName="tenantId" inputtype="onlynumber" [maxlength]="10">
            </mat-form-field>
            <!-- Property Code -->
            <mat-form-field class="propCode" [floatLabel]="floatLabel">  <mat-label>{{captions.propertyCode}}</mat-label>
              <input [attr.automationId]="'Txt_propertyInfo_propertyCode'" type="text" matInput name="PropertyCode" formControlName="propCode" [maxlength]="10">
            </mat-form-field>
          </div>

          <hr />
          <div class="mandatoryDetails box-style">
            <label class="form-label-primary">{{captions.requiredFields | uppercase}}</label>
            <div class="infoDetails d-flex">
              <div *ngFor="let requiredInfo of propertyInfo.get('requiredFields')['controls']; let i =index;" formArrayName="requiredFields" class="personal-info" id="required-{{i}}">
                <div *ngFor="let requiredDetails of requiredFieldsInfo; let j =index;" [formGroupName]="i">
                  <div *ngIf="i == j">
                    <label class="textellipsis">{{requiredDetails.name}}</label>
                    <div *ngFor="let details of requiredDetails['requiredInfo']" class="toogle-switch-big-class LW14 d-table">
                      <span class="detailName d-table-cell" id="info-{{details.name}}">{{details.name}}</span>
                      <app-toggle-switch [attr.automationId]="'Tog_propertyInfo_details'"  class="d-table-cell" formControlName="{{details.controlName}}" [ngClass]=" details.Disabled  ? 'button_invalid' : 'button_valid'"></app-toggle-switch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr />
          <div class="mandatoryDetails box-style">
            <label class="form-label-primary">{{captions.defaultFieldsConfiguration | uppercase}}</label>
            <div class="postal-details">
                <div class="defaultFieldConfiguration">
                  <mat-form-field class="inputwidth10 mr-2" [floatLabel]="floatLabel">  <mat-label>{{captions.DefaultEmailType}}</mat-label>
                    <mat-select [attr.automationId]="'Dd_propertyInfo_emailType'" id="EmailLabel" name="TSedd" formControlName="DEFAULT_EMAIL_TYPE" class="LW14">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let ct of contactEmailType" [value]="ct.id">
                        {{ct.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="state default-feilds" [floatLabel]="floatLabel">  <mat-label>{{captions.DefaultCountryCode}}</mat-label>
                    <input [attr.automationId]="'Txt_propertyInfo_defaultCountryCode'" type="text" matInput formControlName="DEFAULT_COUNTRY_CODE" inputtype="onlynumber" [maxlength]="3" onkeypress='return event.charCode>= 48 && event.charCode <= 57'>
                  </mat-form-field>

                  <mat-form-field class="state default-feilds" [floatLabel]="floatLabel">  <mat-label>{{captions.DefaultPhoneType}}</mat-label>
                    <mat-select [attr.automationId]="'Dd_propertyInfo_defaultPhoneType'" id="PhoneNumberLabel" name="TSpdd" class="LW14" formControlName="DEFAULT_PHONE_TYPE">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let ct of contactPhoneLabelType" [value]="ct.id">
                        {{ct.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="themeColor">
                    <div class="color-grid pb-4">
                      <label class="color-name form-label-primary mb-2">{{captions.DefalutThemeColor}}</label>
                      <div class="position--relative">
                        <input type="button" class=" color-display"
                          [ngStyle]="{'background-color':propertyInfo.controls['THEME_COLOR'].value}" [matMenuTriggerFor]="colorPicker"
                          />
                          <mat-menu #colorPicker="matMenu" class="user-popover" yPosition="above">
                            <div class="ag-color-sketch" (click)="$event.stopPropagation()">
                              <color-sketch [color]="propertyInfo.controls['THEME_COLOR'].value"
                                (onChangeComplete)="changeColor($event)"></color-sketch>
                            </div>
                          </mat-menu>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
          </div>
        </form>

    </div>
  </ng-scrollbar>
  </div>
    <div class="prop-actions">
      <div>
        <button [attr.automationId]="'Btn_propertyInfo_save'" class="LW14 save" mat-button (click)="save()" [ngClass]="enableSave ? 'spa-primary-default-save': 'spa-primary-disabled'">{{captions.save}}</button>
        <a [attr.automationId]="'Lbl_propertyInfo_cancel'" class="LW14 cancel-btn-color" (click)="cancel()">{{captions.cancel}}</a>
      </div>
    </div>
  </section>
