<section class="login">
    <div class="login__formgroup">
        <div class="login__page">
            <div class="login__img">
                <img class="login__product-logo" src="./assets/images/logo.png">
                <img src="./assets/images/login-logo.jpg" class="login__logo-img">
            </div>
            <div class="login__area">
                <div class="login__details">
                    <label class="login__label-style">{{captions.Login}}</label>
                    <div class="login__message">{{ captions.welcomeToRetail}}</div>
                    <div class="login__form-details">
                        <div class="login_form">
                            <form [formGroup]="loginForms" autocomplete="off">
                                <div *ngIf="!loginSuccess" class="overall_login_wrapper">
                                    <div *ngIf="!showCustomerID && custId">
                                        <div>
                                            <i class="icon-user ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50">
    
                                                <input matInput type="text" [placeholder]="captions.lbl_userId"
                                                    class="ag_text--uppercase"
                                                    formControlName="userId" (keydown.enter)="getbuttonEmitvalue($event)">
                                                <mat-error *ngIf="loginForms.get('userId').hasError('required')">
                                                    {{errorMessage.userId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="hide-view">
                                            <i class="icon-password ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50">
    
                                                <input matInput [type]="hidePassword ? 'text' : 'password'"
                                                    [placeholder]="captions.password" formControlName="password"
                                                    (keydown.enter)="getbuttonEmitvalue($event)" autocomplete="new-password">
                                                <i matSuffix class="IC18"
                                                    [ngClass]="hidePassword ? 'icon-password-show' : 'icon-password-hide '"
                                                     (click)="hidePassword=!hidePassword"  ></i>
                                                <mat-error *ngIf="loginForms.get('password').hasError('required')">
                                                    {{errorMessage.password}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div *ngIf="showCustomerID && custId">
                                        <div>
                                            <i class="icon-user ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50">
    
                                                <input matInput type="text" [placeholder]="captions.lbl_userId"
                                                    class="ag_text--uppercase"
                                                    formControlName="userId" (keydown.enter)="getbuttonEmitvalue($event)">
                                                <mat-error *ngIf="loginForms.get('userId').hasError('required')">
                                                    {{errorMessage.userId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="hide-view">
                                            <i class="icon-password ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50">
    
                                                <input matInput [type]="hidePassword ? 'text' : 'password'"
                                                    [placeholder]="captions.password" formControlName="password"
                                                    (keydown.enter)="getbuttonEmitvalue($event)" autocomplete="new-password">
                                                <i matSuffix class="IC18"
                                                    [ngClass]="hidePassword ? 'icon-password-show' : 'icon-password-hide '"
                                                     (click)="hidePassword=!hidePassword"  ></i>
                                                <mat-error *ngIf="loginForms.get('password').hasError('required')">
                                                    {{errorMessage.password}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <i class="icon-guest ag_pr--2"></i>
                                            <mat-form-field class="w-50">
                                                <input matInput inputtype="nonnegative" type="number"
                                                    [placeholder]="captions.customerId" class="text-uppercase"
                                                    inputtype="capitalise,notallowspace,nospecailchar"
                                                    formControlName="customerId"
                                                    (keydown.enter)="getbuttonEmitvalue($event)">
                                                <mat-error *ngIf="loginForms.get('customerId').hasError('required')">
                                                    {{errorMessage.customerId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <!-- <mat-checkbox formControlName="rememberme">{{captions.rememberMe}}
                                        </mat-checkbox> -->
                                        <span *ngIf="loginError" class="errorText">&nbsp;&nbsp;{{errResponse}}</span>
                                    </div>
                                </div>
                                <div *ngIf="loginSuccess" class="overall_login_wrapper">
                                    <i class="icon-location-login ag_pr--2"></i>
                                    <mat-form-field class="ag_w--50">
                                        <mat-select formControlName="location" (click)="loadProperties()" [disabled] = "multipleProperties.length ==1" (selectionChange)="onPropertyChange($event)"
                                            [placeholder]="captions.lbl_location">
                                            <mat-option *ngFor="let location of multipleProperties" [value]="location">
                                                {{location.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            {{captions.MissingLocation}}
                                        </mat-error>

                                    </mat-form-field>
                                    <mat-form-field class="w-50 machine-name" *ngIf = "isPromptOnLoginEnabled && machineNames.length > 0">
                                        <mat-select formControlName="machineName" (click)="loadMachineNames()"
                                        [compareWith]="compareSelect"  placeholder="{{this.captions.Machine}}">
                                            <mat-option *ngFor="let machineName of machineNames"
                                                [value]="machineName">
                                                {{machineName.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            {{this.captions.MissingMachine}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="margintop--10" *ngIf="custId"><button mat-flat-button class="login__btn"
                            (click)="getbuttonEmitvalue($event)">{{loginSuccess?captions.enter:captions.Login}}</button>
                    </div>
                </div>
                <div class="resolutionDiv">
                    <img src="./assets/images/Agilsys_Logo1.png" class="login__footer-agilLogo">
                    <div class="resolutionText">{{captions.lbl_copyRight}} &#169;
                        {{currYear}} {{captions.lbl_copyrightText}}
                    </div>
                    <span class="resolutionText">
                        {{captions.lbl_resolutionText}}
                    </span>
                </div>


            </div>
           
        </div>

        

    </div>

</section>