<section class="login">
    <div class="login__formgroup" *ngIf="!hideLoginForm">
        <div class="login__page">
            <div class="login__img">
                <img class="login__product-logo" src="./assets/images/logo.png">
                <img src="./assets/images/login-logo.jpg" class="login__logo-img">
            </div>
            <div class="login__area">
                <div class="login__details">
                    <label class="login__label-style">{{captions.Login}}</label>
                    <div class="login__message">{{loginSuccess? this.captions.SelectYourLocation : captions.welcomeToRetail}}</div>
                    <div class="login__form-details">
                        <div class="login_form">
                            <form [formGroup]="loginForms" autocomplete="off">
                                <div *ngIf="!loginSuccess" class="overall_login_wrapper">
                                    <div *ngIf="!showCustomerID && custId">
                                        <div>
                                            <i class="icon-user ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50" [floatLabel]="floatLabel">

                                                <input matInput type="text" #fcs_userID [placeholder]="captions.lbl_userId"
                                                    class="ag_text--uppercase"
                                                    formControlName="userId" (keydown.enter)="getbuttonEmitvalue($event)">
                                                <mat-error *ngIf="loginForms.get('userId').hasError('required')">
                                                    {{errorMessage.userId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="hide-view">
                                            <i class="icon-password ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50" [floatLabel]="floatLabel">

                                                <input matInput #fcs_pwd [type]="hidePassword ? 'text' : 'password'"
                                                    [placeholder]="captions.password" formControlName="password"
                                                    (keydown.enter)="getbuttonEmitvalue($event)" autocomplete="new-password">
                                                <i matSuffix class="IC18"
                                                    [ngClass]="hidePassword ? 'icon-password-show' : 'icon-password-hide '"
                                                     (click)="hidePassword=!hidePassword"  ></i>
                                                <mat-error *ngIf="loginForms.get('password').hasError('required')">
                                                    {{errorMessage.password}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <ng-container *ngIf="custId==0">
                                        <div>
                                            <i class="icon-guest ag_pr--2"></i>
                                            <mat-form-field class="w-50 ag_section--disable" [floatLabel]="floatLabel" [ngClass]="{'ag_section--disable' : !showCustomerID}">
                                                <input matInput #fcs_custID inputtype="nonnegative,nodecimal"
                                                    [placeholder]="captions.customerId" class="text-uppercase"
                                                    formControlName="customerId"  [maxlength]="maxLength"
                                                    (keydown.enter)="loginForms.controls.customerId.value != '' ? getbuttonEmitvalue($event) : '' ">
                                                <mat-error *ngIf="loginForms.get('customerId').hasError('required')">
                                                    {{errorMessage.customerId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div  class="login-links-container">
                                            <a (click)="clearLclCookie('appRetailCustID')"> {{ captions.changeCustomerID}}</a>
                                            <a class="ml-4 forget-password-link" 
                                                   *ngIf="loginForms.get('userId')?.value && !this.ADB2CAuthenticationEnabled && !this.isSupportUser && !this.disableForgetPassword" 
                                                   [class.disabled]="showLoginloader"
                                                   (click)="!showLoginloader && openForgetPasswordDialog()">
                                                   {{ commonCaptions.ForgetPassword }}
                                                </a>
                                        </div>
                                    </ng-container>
                                    </div>
                                    <div *ngIf="custId !=0">
                                        <a class="ml-4 forget-password-link"
                                            *ngIf="loginForms.get('userId')?.value && !this.ADB2CAuthenticationEnabled && !this.isSupportUser && !this.disableForgetPassword"
                                            [class.disabled]="showLoginloader" (click)="!showLoginloader && openForgetPasswordDialog()">
                                            {{ commonCaptions.ForgetPassword }}
                                        </a>
                                    </div>
                                    <div *ngIf="showCustomerID && custId">
                                        <div *ngIf="!showCustomerID">
                                            <i class="icon-user ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50" [floatLabel]="floatLabel">

                                                <input matInput #fcs_userID type="text" [placeholder]="captions.lbl_userId"
                                                    class="ag_text--uppercase"
                                                    formControlName="userId" (keydown.enter)="getbuttonEmitvalue($event)">
                                                <mat-error *ngIf="loginForms.get('userId').hasError('required')">
                                                    {{errorMessage.userId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div  *ngIf="!showCustomerID" class="hide-view">
                                            <i class="icon-password ag_pr--2 "></i>
                                            <mat-form-field class="ag_w--50" [floatLabel]="floatLabel">

                                                <input matInput #fcs_pwd [type]="hidePassword ? 'text' : 'password'"
                                                    [placeholder]="captions.password" formControlName="password"
                                                    (keydown.enter)="getbuttonEmitvalue($event)" autocomplete="new-password">
                                                <i matSuffix class="IC18"
                                                    [ngClass]="hidePassword ? 'icon-password-show' : 'icon-password-hide '"
                                                     (click)="hidePassword=!hidePassword"  ></i>
                                                <mat-error *ngIf="loginForms.get('password').hasError('required')">
                                                    {{errorMessage.password}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <i class="icon-guest ag_pr--2"></i>
                                            <mat-form-field class="w-50" [floatLabel]="floatLabel">
                                                <input matInput #fcs_custID inputtype="nonnegative,nodecimal"
                                                    [placeholder]="captions.customerId" class="text-uppercase"
                                                    formControlName="customerId"  [maxlength]="maxLength"
                                                    (keydown.enter)="loginForms.controls.customerId.value != '' ? getbuttonEmitvalue($event) : '' ">
                                                <mat-error *ngIf="loginForms.get('customerId').hasError('required')">
                                                    {{errorMessage.customerId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>
                                        <!-- <mat-checkbox formControlName="rememberme">{{captions.rememberMe}}
                                        </mat-checkbox> -->
                                        <span *ngIf="loginError" class="errorText">&nbsp;&nbsp;{{errResponse}}</span>
                                    </div>
                                </div>
                                <div *ngIf="loginSuccess" class="overall_login_wrapper">
                                    <i class="icon-location-login ag_pr--2" *ngIf="!isSupportUser"></i>
                                    <mat-form-field *ngIf="!isSupportUser" class="ag_w--50" [floatLabel]="floatLabel">
                                        <mat-select formControlName="location" (click)="loadProperties()" [disabled] = "multipleProperties.length ==1" (selectionChange)="onPropertyChange($event)"
                                            [placeholder]="captions.lbl_location">
                                            <mat-option *ngFor="let location of multipleProperties" [value]="location">
                                                {{location.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            {{captions.MissingLocation}}
                                        </mat-error>

                                    </mat-form-field>
                                    <div *ngIf="isSupportUser">
                                      <div>
                                          <i class="icon-guest ag_pr--2" aria-hidden="true"></i>
                                          <mat-form-field class="ag_w--50" >
                                              <mat-select formControlName="tenantId" (selectionChange)="onTenantIdChange($event)" (openedChange)="openedChange($event)"
                                              [attr.placeholderId]="lbl_customer" [placeholder]="captions.login.lbl_customer">
                                              <div class="dropdown-search-tenant">
                                                <input #myInput [placeholder]="captions.login.SearchByCustomer"  [(ngModel)]="inputSearch" [ngModelOptions]="{standalone: true}" (input)='filterOptions($event)' (keydown)="$event.stopPropagation()">
                                              </div>
                                              <ng-container *ngIf="tenantIdList.length > 0 ; else noData">
                                                <mat-option  matTooltip="{{tenant.id}} - {{tenant.viewValue}}" *ngFor="let tenant of tenantIdList" [value]="tenant.id">
                                                  {{tenant?.id}} - {{tenant.viewValue}}
                                               </mat-option>
                                              </ng-container>
                                              <ng-template #noData>
                                                <mat-option>
                                                  {{captions.login.lbl_noDataFound}}
                                               </mat-option>
                                              </ng-template>
                                          </mat-select>
                                              <mat-error [attr.LiteralID]="'MissingTenantId'">
                                                  {{captions.err_missingtenantId}}
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div>
                                          <i class="icon-location-login ag_pr--2" aria-hidden="true"></i>
                                          <mat-form-field class="ag_w--50" >
                                              <mat-select formControlName="propertyId" (selectionChange)="onPropertyIdChange($event)"
                                                  [attr.placeholderId]="lbl_propertyId" [placeholder]="captions.lbl_Property">
                                                  <mat-option *ngFor="let property of propertyIdListForATenant" [value]="property.id">
                                                      {{property.viewValue}}
                                                  </mat-option>
                                              </mat-select>
                                              <mat-error [attr.LiteralID]="'MissingpropertyId'">
                                                  {{captions.err_propertyID}}
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                    <mat-form-field class="w-50 machine-name" *ngIf = "isPromptOnLoginEnabled && machineNames.length > 0" [floatLabel]="floatLabel">
                                        <mat-select formControlName="machineName" (click)="loadMachineNames()"
                                        [compareWith]="compareSelect"  placeholder="{{this.captions.Machine}}" required>
                                            <mat-option *ngFor="let machineName of machineNames"
                                                [value]="machineName">
                                                {{machineName.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            {{this.captions.MissingMachine}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="margintop--10" *ngIf="custId"><button mat-flat-button class="login__btn" [ngClass]="{'ag_section--disable': !this.loginForms.controls.customerId.value && showCustomerID || showLoginloader || (!isSupportUser && !showCustomerID && (!loginForms.controls.userId.value || !loginForms.controls.password.value)) || (!isSupportUser && loginSuccess && !loginForms.controls.location.value?.id) || (!isSupportUser && loginSuccess && !loginForms.controls.machineName.value)}"
                      (click)="!loginForms.controls.customerId.value  && showCustomerID ? '' : getbuttonEmitvalue($event)" >{{loginSuccess?captions.enter:captions.Login}}
                      <div *ngIf="showLoginloader" class="loginloadingSpinner"></div>
                    </button>
                    </div>
                </div>
                <div class="resolutionDiv">
                    <img src="./assets/images/Agilsys_Logo1.png" class="login__footer-agilLogo">
                    <div class="resolutionText">{{captions.lbl_copyRight}} &#169;
                        {{prevYear}}-{{currYear}} {{captions.lbl_copyrightText}}
                    </div>
                    <span class="resolutionText">
                        {{captions.lbl_resolutionText}}
                    </span>
                </div>


            </div>

        </div>



    </div>

</section>
