<section class="user-settings h-100">
  <form [formGroup]="userSettingsFormGrp" class="user-setting-form h-100">
    <div class="settings h-100 d-flex">
      <div class="settings-left pt-4 pl-4 pb-4">
        <ng-scrollbar [autoHide]="true">
          <div class=" w250 ">
            <label class="d-block form-label-normal LW12">{{caption.setting.ActiveUser}}</label>
            <app-toggle-switch class="d-block mb-2" [formControl]="userSettingsFormGrp.controls['activeuser']"></app-toggle-switch>
          </div>
          <mat-form-field class=" w250 mt-3">
            <input matInput placeholder="{{caption.setting.FirstName}}" class="user-name" autocomplete="off" [maxlength]="20" formControlName="fname">
            <mat-error class="" *ngIf="userSettingsFormGrp.controls['fname'].hasError('required') && userSettingsFormGrp.controls['fname'].touched && !userSettingsFormGrp.controls['fname'].valid">
              {{caption.setting.MissingFirstName}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class=" mt-2 w250">
            <input matInput placeholder="{{caption.setting.LastName}}" class="user-name" autocomplete="off" [maxlength]="20" formControlName="lname">
            <mat-error class="" *ngIf="userSettingsFormGrp.controls['lname'].hasError('required') && userSettingsFormGrp.controls['lname'].touched && !userSettingsFormGrp.controls['lname'].valid">
              {{caption.setting.MissingLastName}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class=" mt-2 w250">
            <input matInput placeholder="{{caption.setting.UserId}}" autocomplete="off" inputtype="capitalise,notallowspace,nospecailchar" [maxlength]="10"  formControlName="userid">
            <mat-error class="" *ngIf="userSettingsFormGrp.controls['userid'].hasError('required') && userSettingsFormGrp.controls['userid'].touched && !userSettingsFormGrp.controls['userid'].valid">
              {{caption.setting.MissingUserID}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class=" mt-2 w250">
            <input matInput placeholder="{{caption.setting.QuickId}}" maxlength="6" inputtype="nonnegative,nodecimal"
              autocomplete="off" formControlName="quickid">
          </mat-form-field>

          <mat-form-field class=" mt-2 w250">
            <input matInput placeholder="{{caption.setting.EmailAddress}}" autocomplete="off" [maxlength]="75" formControlName="email" inputtype="email">
            <mat-error class="" *ngIf="userSettingsFormGrp.controls['email'].touched && !userSettingsFormGrp.controls['email'].valid">
              {{caption.common.InvalidEmailFormat}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class=" mt-2 w250">
            <mat-select formControlName="language" placeholder="{{caption.setting.Language}}">
              <mat-option *ngFor="let language of languages" [value]="language.id">{{language.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="w250 mb-2">
            <label class="d-block mt-3 form-label-normal ">{{caption.setting.NewPassword}}</label>
            <app-toggle-switch class="d-block  blckClr" [formControl]="userSettingsFormGrp.controls['newpassword']"></app-toggle-switch>
          </div>

          <div class="d-datepicker d-inline-block pt-4">
            <div><label class="date-label   form-label-normal">{{caption.setting.PasswordExpirationDate}}</label></div>
            <mat-form-field class="">
              <input matInput [matDatepicker]="picker" autocomplete="off"  [min]="minDateValue" placeholder="{{caption.setting.SelectDate}}"
                formControlName="pwdexpirationdate">
              <mat-datepicker [startAt]="userSettingsFormGrp.controls['pwdexpirationdate'].value == null ? minDateValue : userSettingsFormGrp.controls['pwdexpirationdate'].value" #picker></mat-datepicker>
            </mat-form-field>
            <i class="icon-Calender pointercursor" (click)="picker.open()"></i>
          </div>
        </ng-scrollbar>
      </div>
      <div [ngClass]="{'button_invalid': IsReadOnly}" class="settings-right pl-4 pt-4 pb-4">
        <div><label class="form-label-normal ">{{caption.setting.ApplicationAccess}}</label></div>
        <div class="LW16 pt-2 textColorGray" *ngFor="let access of accesses">
          <span class="cursor" (click)="ButtonToggle(servicesetting.selectedAccess,access.id)"><i class="icon-font-size"
              [ngClass]="isExist(servicesetting.selectedAccess, access.id) !=-1 ? 'icon-SuccessDark text-color' : 'icon-Success'"></i>{{access.name}}</span></div>
      </div>
    </div>
  </form>
</section>