<section class="receiptConfig newVersionWrapper h-100">
        <div class="mainData w-100">
          <mat-tab-group  [attr.automationId]="'Mt_receiptConfiguration_receiptConfig'" class="h-100 " #tabGroup >
            <mat-tab label="{{textCaptions.lbl_outletLevel}}">
          <form [formGroup]="FormGrp" class="tab-height">
              <ng-scrollbar [autoHide]="true">
                <div class="d-flex">
                  <div class="leftSection float-left">
                    <div class="pt-4">
                      <!-- Outlet Box -->
                      <mat-form-field class="" [floatLabel]="floatLabel">
                          <mat-select placeholder="{{textCaptions.Outlet}}" [attr.automationId]="'Icn_ReceiptConfiguration_Outlets'" (selectionChange)="changeSelection($event)" formControlName="outlet" class="LW14">
                              <mat-option *ngFor="let data of Outlet" [value]="data.id" >
                                  {{data.outletName}}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="FormGrp.controls['outlet'].hasError('required') && FormGrp.controls['outlet'].touched && !FormGrp.controls['outlet'].valid">
                              {{textCaptions.SelectOutlet}}
                          </mat-error>
                      </mat-form-field>
                      <!-- Number of Reciepts -->
                      <!-- #46309 - Hide unused fields -->
                      <!-- <mat-form-field class=" ml-4 receipts">
                          <input matInput placeholder="{{textCaptions.NoOfReceipts}}"  maxLength = "2" (click)="viewChange($event)" inputtype="nodecimal,nonnegative" class="text-capitalize" formControlName="noOfReceipts" />
                          <mat-error *ngIf="FormGrp.controls['noOfReceipts'].hasError('required') && FormGrp.controls['noOfReceipts'].touched && !FormGrp.controls['noOfReceipts'].valid">
                            {{textCaptions.MissingNumber}}
                          </mat-error>
                      </mat-form-field> -->
                    </div>
                    <!-- Print Info -->
                    <div class="printData">
                      <div class="header w-100 text-capital d-table"><h5 class="d-table-cell align-middle pl-4 LWB14">{{textCaptions.PrintData}}</h5></div>
                      <div class="toggleSection w-100 pt-2 pb-2">
                        <div class="h-100" *ngFor="let data of FormGrp.get('printReceipt')['controls']; let i =index;" formArrayName="printReceipt">
                          <div *ngFor="let value of printInfo;let j=index;" [formGroupName]="i">
                              <div  class="rightToggle float-left" [ngClass]="j%2 == 0 ? 'borderClass' : '' ">
                                      <label class="pt-2 pl-4 LW12" >{{value.Name}}</label>
                                      <i *ngIf="value.id==2" class="pl-2 icon-information cursor" [popover]="infoPopOver" [popoverOnHover]="true" popoverPlacement="bottom"></i>
                                      <app-toggle-switch  [automationId]="'receiptConfig'" class="d-table-cell pl-4" (changeToggleEvent)="toggleChange($event,value.controlName)" formControlName="{{value.controlName}}"
                                      [ngClass]="value.enableToggle ? 'button_valid' : 'button_invalid'" ></app-toggle-switch>
                                      <div class="pl-4 pt-3" *ngIf="(value.id==7 && isSuppressClerk)|| (value.id==9 && isSuppressPrint)">
                                        <mat-radio-group attr.automationId='Rdo_ReceiptConfiguration_{{value.controlName}}' class="radio-class" aria-label="Select an option" formControlName = "{{value.controlName + 'byName'}}">

                                          <mat-radio-button *ngFor="let UPV of userPrintValue" class="radiovalue mat-radio-label" (click)="radioSelect(UPV.value, value.controlName)" [value]="UPV.value" title="USERID">{{UPV.Name}}</mat-radio-button>
                                        </mat-radio-group>
                                      </div>
                                  </div>

                          </div>
                          <popover-content popoverPlacement="bottom" #infoPopOver placement="auto bottom" [animation]="true" [closeOnClickOutside]="true" id="infoPopOverID">
                              {{textCaptions.HoverMessage}}
                            </popover-content>
                        </div>
                      </div>
                    </div>
                    <!-- Radio Group -->
                    <div class="mt-4">
                      <label class="float-left LW12">{{textCaptions.Display}} </label>
                      <mat-radio-group attr.automationId='Rdo_ReceiptConfiguration_displayServiceCharge' [disabled] = "IsViewOnly"  class="radio-class  float-left level-selector mt-2 mr-2 mb-2 clear-both" (change)="viewChange($event)" formControlName="displayServiceCharge">
                        <mat-radio-button class="mr-3 value-color" *ngFor="let value of ServiceCharge" [value]="value.id" >{{value.value}}</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="rightSection h-100 float-right">
                    <!-- Comments -->
                    <div class="pt-3 pl-3">
                      <div class="mt-2">
                        <mat-form-field (click)="viewChange($event)" class="textWidth  txt-area-height" [floatLabel]="floatLabel">
                          <textarea [attr.automationId]="'Ta_ReceiptConfiguration_gratuityLine'" matInput placeholder="{{textCaptions.GratuityLine}}" formControlName="gratuityLine" [maxlength]="250"></textarea>
                      </mat-form-field>
                      </div>

                      <div class="mt-2">

                        <mat-form-field (click)="viewChange($event)" class="textWidth txt-area-height" [floatLabel]="floatLabel">
                          <textarea [attr.automationId]="'Ta_ReceiptConfiguration_receiptNote'" matInput placeholder="{{textCaptions.ReceiptNote}}" formControlName="receiptNote" [maxlength]="250"></textarea>
                      </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
        </ng-scrollbar>
        </form>
        <div class="bottomSection w-100">
          <button class="ml-30px" [attr.automationId]="'Btn_ReceiptConfiguration_save'" [ngClass]="{'spa-primary-default-save' : (FormGrp.valid && !isSaveDisabled && !IsViewOnly), 'spa-primary-disabled' : ( !FormGrp.valid || isSaveDisabled || IsViewOnly)}" mat-button (click)="saveReceipt(FormGrp.value)">{{textCaptions.save}}</button>
          <button class="spa-button-cancel" [attr.automationId]="'Btn_ReceiptConfiguration_cancel'" mat-button (click)="cancelClick()">{{textCaptions.cancel}}</button>

        </div>
      </mat-tab>
      <mat-tab label="{{textCaptions.lbl_proprtyLevel}}">
        <form [formGroup]="propertyForm" class="tab-height property-level p-4">
          <!-- formControlName="{{value.controlName}} -->
          <div class="ag_display--flex">
            <div class="pad-top-10 ag_w--33 ag_pr--8">
              <label class="golf-form--label">{{textCaptions.lbl_printGiftReceipt}}</label>
            <app-ag-toggle [toggleInputs]="printGiftToggleInputs"></app-ag-toggle>
            </div>
            <div class="pad-top-10 ag_w--33 ag_pr--8">
              <label class="golf-form--label">{{textCaptions.lbl_displayPropertyLogoInReceiptHeader}}</label>
              <app-ag-toggle [toggleInputs]="displayPropertyLogoInReceiptHeaderInput" (valueChange)="displayPropertyLogoInReceiptHeaderToggleAction($event.checked)">
              </app-ag-toggle>
            </div>
          </div>
          <div class="ag_display--flex">
            <div class="pad-top-10 ag_w--33 ag_pr--8">
              <label class="golf-form--label text-label-new">{{textCaptions.lbl_authCodeonReceipts}}</label>
            <app-ag-toggle [toggleInputs]="authCodeToggleInputs" (valueChange)="toggleAction($event)"></app-ag-toggle>
            </div>
            <div class="pad-top-10 ag_w--33 ag_pr--8" *ngIf="this.displayImageInReceiptHeader">
              <label class="golf-form--label">{{textCaptions.lbl_imageUploadforReceiptHeader}}</label>
              <ag-image-uploader [requiredWarningPopup]=true [emptyImgCaption]="textCaptions.UploadYourImage"[imgData]="headerUrl"
              (fileDeleted)="headerImageFileDeleted()" (fileUploaded)="headerImageFileUploaded($event)" (fileSizeExceeded)="fileSizeExceeded()">
              </ag-image-uploader>
            </div>
          </div>
          <div class="ag_display--flex">
            <div class="pad-top-10 ag_w--33 ag_pr--8">
          <mat-form-field class="ag_form-control--xs pt-3 authcodeName" [floatLabel]="floatLabel" *ngIf="this.DisplayAuthCode">
            <input matInput [placeholder]="textCaptions.lbl_authCodeonReceiptName"
            [attr.automationId]="'Txt_ReceiptConfiguration_authcodeName'"  formControlName="authcodeName" [maxlength]="25" />
          </mat-form-field> 
            </div>
            <div class="pad-top-10 ag_w--33 ag_pr--8">
              <label class="golf-form--label">{{textCaptions.lbl_displayImageInReceiptFooter}}</label>
              <app-ag-toggle [toggleInputs]="displayImageInReceiptFooterInput" (valueChange)="displayImageInReceiptFooterToggleAction($event.checked)">
              </app-ag-toggle>
            </div>
            </div>
            <div class="ag_display--flex">
            <div class="pad-top-10 ag_w--33 ag_pr--8">
              <label class="golf-form--label text-label-new">{{textCaptions.lbl_changeDue}}</label>
              <app-ag-toggle [toggleInputs]="changeDueToggleInputs" (valueChange)="toggleChangeDueAction($event)"></app-ag-toggle>
            </div>
            <div class="pad-top-10 ag_w--33 ag_pr--8">
              <div class="mb-2 ag_display--inblock propImagePadding" *ngIf="this.displayImageInReceiptFooter">
                <label class="golf-form--label">{{textCaptions.lbl_imageUploadforReceiptFooter}}</label>
                <ag-image-uploader [requiredWarningPopup]=true [emptyImgCaption]="textCaptions.UploadYourImage"[imgData]="footerUrl"
                    (fileDeleted)="footerImageFileDeleted()" (fileUploaded)="footerImageFileUploaded($event)" (fileSizeExceeded)="fileSizeExceeded()">
                </ag-image-uploader>
            </div> 
            </div>
            </div>
            <div class="ag_display--flex">
              <div class="pad-top-10 ag_w--33 ag_pr--8">
                <mat-form-field (click)="viewChange($event)" class="mt-5 ag_form-control--xs receiptNote textWidth txt-area-height" [floatLabel]="floatLabel">
                  <textarea [attr.automationId]="'Ta_ReceiptConfiguration_receiptFooterNote'" matInput placeholder="{{textCaptions.ReceiptFooterNote}}" formControlName="receiptFooterNote" [maxlength]="250"></textarea>
              </mat-form-field>
              </div>
              <div class="pad-top-10 ag_w--33 ag_pr--8">
                <div class="mb-2 ag_display--inblock propImagePadding" *ngIf="this.displayImageInReceiptFooter">
                  <mat-form-field [floatLabel]="floatLabel" (click)="viewChange($event)" class="txt-area-height w-18">
                <textarea matInput [attr.automationId]="'Ta_ReceiptConfiguration_receiptImageFooterNote'" placeholder="{{textCaptions.ReceiptImageFooterNote}}" formControlName="receiptImageFooterNote" [maxlength]="250"></textarea>
            </mat-form-field>
              </div> 
              </div>
              </div>
              <div class="ag_display--flex">
                <div class="pad-top-10 ag_w--33 ag_pr--8">
                  <label class="golf-form--label text-label-new">{{localization.captions.setting.RequestPresettlementReceiptOnPendingSettlement}}</label>
              <app-ag-toggle [toggleInputs]="settlementReceiptToggleInputs"></app-ag-toggle>
                </div>
                <!-- <div class="pad-top-10 ag_w--33 ag_pr--8" *ngIf="!this.PropertyInfo.IsVATEnabled">
                  <label class="golf-form--label text-label-new">{{localization.captions.setting.GroupByTaxName}}</label>
                  <app-ag-toggle [toggleInputs]="GroupByTaxNameToggleInputs"></app-ag-toggle>
                </div> -->
                </div>
            <div class="pb-3 pt-4">
              <label class="golf-form--label text-label-new">{{localization.captions.setting.ReplaceMemberNumberWithAR}}</label>
              <app-ag-toggle [toggleInputs]="ReplaceMemberNumberWithARToggleInputs"></app-ag-toggle>
            </div>
        <!-- <app-single-to-multiple *ngIf="selectedTabIndex === 1" [outlets]="this.outlets"></app-single-to-multiple> -->
         <div class="pad-top-10 ag_w--66 ag_pr--8 tax-grouping-container" *ngIf="!this.PropertyInfo.IsVATEnabled">
              <label class="golf-form--label">{{textCaptions.TaxGroupingOptions}}</label>
              <mat-radio-group class="radio-class vertical-radio-group mt-2" 
                               formControlName="taxGroupingOption"
                               [attr.automationId]="'Rdo_ReceiptConfiguration_taxGroupingOption'"
                               aria-label="Select tax grouping option"
                               (change)="onTaxGroupingOptionChange($event.value)">
                <mat-radio-button *ngFor="let option of taxGroupingOptions" 
                                  class="tax-radio-spacing" 
                                  [value]="option.id">
                  {{option.value}}
                </mat-radio-button>
              </mat-radio-group>
              
              <!-- Roll Up to One Toggles -->
              <div class="rollup-toggle-section" *ngIf="showRollUpToOneToggles">
                <div class="pad-top-10 ag_display--flex">
                  <div class="ag_w--33 ag_pr--8">
                  <label class="golf-form--label">{{textCaptions.CombineAllTaxes}}</label>
                  <app-ag-toggle [toggleInputs]="CombineAllTaxesToggleInputs" (valueChange)="onCombineAllTaxesToggle($event.checked)"></app-ag-toggle>
                  </div>
                  <!-- Tax Name text box for Combine All Taxes -->
                  <div class="ag_w--33" *ngIf="showCombineAllTaxesTextBox">
                    <mat-form-field [floatLabel]="floatLabel" class="w-100">
                      <input matInput 
                             [attr.automationId]="'Txt_ReceiptConfiguration_combineAllTaxesName'"
                             [placeholder]="textCaptions.TaxName" 
                             formControlName="combineAllTaxesName" 
                             [maxlength]="50" required />
                             <mat-error *ngIf="propertyForm.controls['combineAllTaxesName'].hasError('required') && propertyForm.controls['combineAllTaxesName'].touched && !propertyForm.controls['combineAllTaxesName'].valid">
                        {{textCaptions.MissingTaxName}}
                      </mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <div class="pad-top-10 ag_display--flex">
                   <div class="ag_w--33 ag_pr--8">
                  <label class="golf-form--label">{{textCaptions.CombineAllRevenueToProperty}}</label>
                  <app-ag-toggle [toggleInputs]="CombineAllRevenueToPropertyToggleInputs" (valueChange)="onCombineAllRevenueToPropertyToggle($event.checked)"></app-ag-toggle>
                   </div>
                  <!-- Tax Name text box for Combine All Revenue to Property -->
<div class="ag_w--33" *ngIf="showCombineAllRevenueToPropertyTextBox">
  <mat-form-field [floatLabel]="floatLabel" class="w-100">
    <input matInput 
           [attr.automationId]="'Txt_ReceiptConfiguration_combineAllRevenueToPropertyName'"
           [placeholder]="textCaptions.TaxName"
           formControlName="combineAllRevenueToPropertyName" 
           [maxlength]="50"
           required />
    <mat-error *ngIf="propertyForm.controls['combineAllRevenueToPropertyName'].hasError('required') && propertyForm.controls['combineAllRevenueToPropertyName'].touched && !propertyForm.controls['combineAllRevenueToPropertyName'].valid">
                        {{textCaptions.MissingTaxName}}
                      </mat-error>
  </mat-form-field>
</div>
                </div>
                <div class="pad-top-10 ag_display--flex">
                  <div class="ag_w--33 ag_pr--8">
                  <label class="golf-form--label">{{textCaptions.CombineAllTaxesAndRevenueToProperty}}</label>
                  <app-ag-toggle [toggleInputs]="CombineAllTaxesAndRevenueToPropertyToggleInputs" (valueChange)="onCombineAllTaxesAndRevenueToPropertyToggle($event.checked)"></app-ag-toggle>
                </div>
                  <!-- Tax Name text box for Combine All Taxes and Revenue to Property -->
                  <div class="ag_w--33" *ngIf="showCombineAllTaxesAndRevenueToPropertyTextBox">
                    <mat-form-field [floatLabel]="floatLabel" class="w-100">
                      <input matInput 
                             [attr.automationId]="'Txt_ReceiptConfiguration_combineAllTaxesAndRevenueToPropertyName'"
                             [placeholder]="textCaptions.TaxName" 
                             formControlName="combineAllTaxesAndRevenueToPropertyName" 
                             [maxlength]="50" required />
                             <mat-error *ngIf="propertyForm.controls['combineAllTaxesAndRevenueToPropertyName'].hasError('required') && propertyForm.controls['combineAllTaxesAndRevenueToPropertyName'].touched && !propertyForm.controls['combineAllTaxesAndRevenueToPropertyName'].valid">
                        {{textCaptions.MissingTaxName}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
        </form>
        <div class="bottomSection w-100">
          <button class="ml-30px" [attr.automationId]="'Btn_ReceiptConfiguration_save'" [disabled]="isSaveDisabled" [ngClass]="{'spa-primary-default-save' : !isSaveDisabled, 'spa-primary-disabled' : isSaveDisabled}" mat-button (click)="saveReceiptProperty(propertyForm.value)">{{textCaptions.save}}</button>
          <button class="spa-button-cancel" [attr.automationId]="'Btn_ReceiptConfiguration_cancel'" mat-button (click)="cancelClick()">{{textCaptions.cancel}}</button>
        </div>
      </mat-tab>
    </mat-tab-group>
    </div>
        </section>

