@import '../../../../assets/sass/abstracts/variables';
.receiptConfig
{
    overflow: hidden;
    .mainData{
        height:calc(100% - 64px);
        border-bottom: 1px solid $linkWater;
        overflow: auto;

        .leftSection{
            width:calc(100% - 300px);
            padding-left:30px;
            height:auto;
            min-height: 100%;
            border-right:1px solid $linkWater;

            .clear-both{
                clear: both;
            }

            label{
                font-size:13px;
                margin-bottom: 0.7rem;
            }

            .printData{
                width: 650px;
                min-width:500px;
                min-height: 235px;
                height: 300px;
                border: 1px solid $linkWater;
                margin-top: 22px;

                .header{
                    height:50px;
                   // padding: 10px 0px 0px 20px;
                    box-sizing: border-box;
                    background-color: $grayLight;
                }

                .toggleSection{
                    height: calc(100% - 55px);
                    overflow: auto;
                    .rightToggle,.leftToggle{
                        width:50%;
                        min-height:82px;
                        padding: 10px 0px !important;
                        box-sizing: border-box;
                        .icon-info-icon{
                            color: $color-blac-opac8;
                        }
                    }

                    span{
                        font-size:13px;
                    }

                    // .leftToggle:nth-child(odd){
                    //     border-right: 1px solid $linkWater;
                    // }
                    .borderClass{
                        border-right: 1px solid $linkWater;
                    }
                    .radiovalue{
                        width:50%;
                        .mat-radio-label-content{ 
                                overflow: hidden;
                                padding-right: 5px;
                                text-overflow: ellipsis;
                        }
                    }


                }
            }
        }

        .rightSection{
            width:300px;

            .textWidth
            {
                width:80%;
            }
        }
    }

    .bottomSection{
        height:64px;
        padding: 12px 0px;
    }
    .ml-30px{
        margin-left:30px;
    }
}