@import "assets/sass/main";
@import "assets/sass/abstracts/color";
@import "assets/sass/abstracts/variables";
@import "assets/sass/base/base";
@import "assets/icons/style.css";

// Display Properties
body{
  min-width: 1024px;
}
.ag_display--none {
  display: none !important;
}
.ag_display--block {
  display: block !important;
}
.ag_display--flex {
  display: flex !important;
}
.ag_display--inflex {
  display: inline-flex !important;
}
.ag_display--inblock {
  display: inline-block !important;
}
.ag_display--inline {
  display: inline !important;
}
.ag_display--flex-wrap {
  @extend .ag_display--flex;
  width: 100%;
  flex-wrap: wrap;
}

// Float Properties
.ag_float--left {
  float: left;
}
.ag_float--right {
  float: right;
}

// Clear Properties
.ag_clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.ag_clear--both {
  clear: both;
}

// Position Properties
.ag_position--relative {
  position: relative;
}
.ag_position--absolute {
  position: absolute;
}
.ag_position--fixed {
  position: fixed;
}
.ag_position--static {
  position: static;
}
.ag_position--sticky {
  position: sticky;
}

// Text Alignment Properties
.ag_text--left {
  text-align: left;
}
.ag_text-right {
  text-align: right;
}
.ag_text--center {
  text-align: center;
}

// Text Transform Properties
.ag_text--uppercase {
  text-transform: uppercase;
}
.ag_text--capitalize {
  text-transform: capitalize;
}
.ag_text--lowercase {
  text-transform: lowercase;
}

// Font Properties
.ag_font--normal {
  font-weight: normal;
}
.ag_font--bold {
  font-weight: bold;
}
.ag_font--italic {
  font-style: italic;
}

//Overflow Properties
.ag_text-overflow--hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ag_text-overflow--auto {
  overflow: auto;
}
.ag_text-overflow--scroll {
  overflow: scroll;
}

// Cursor Properties
.ag_cursor--pointer {
  cursor: pointer;
}
.ag_cursor--move {
  cursor: move;
}
.ag_cursor--not-allowed {
  cursor: not-allowed;
}
.ag_pointer--none {
  pointer-events: none;
}

// Width Properties
@for $i from 0 through 10 {
  .ag_w--#{$i * 10} {
    width: #{$i * 10} + "%";
  }
}
.ag_w--25 {
  width: 25%;
}
.ag_w--33 {
  width: 33.33%;
}
.ag_w--75 {
  width: 75%;
}

// Padding Properties
@for $i from 0 through 8 {
  .ag_p--#{$i} {
    padding: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_pl--#{$i} {
    padding-left: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_pr--#{$i} {
    padding-right: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_pt--#{$i} {
    padding-top: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_pb--#{$i} {
    padding-bottom: #{$i * 0.25}rem !important;
  }
}

//Margin Proerties
.ag_m--auto {
  margin: auto;
}
.ag_ml--auto {
  margin-left: auto;
}
.ag_mr--auto {
  margin-right: auto;
}
.ag_mt--auto {
  margin-top: auto;
}
.ag_mb--auto {
  margin-bottom: auto;
}

.ag-mr-3 {
  margin-right: 0.75rem;
}

@for $i from 0 through 8 {
  .ag_m--#{$i} {
    margin: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_ml--#{$i} {
    margin-left: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_mr--#{$i} {
    margin-right: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_mt--#{$i} {
    margin-top: #{$i * 0.25}rem !important;
  }
}
@for $i from 0 through 8 {
  .ag_mb--#{$i}, .ag-mb-#{$i} {
    margin-bottom: #{$i * 0.25}rem !important;
  }
}

// Form related Properties
.ag_form-control {
  padding-right: $default-control-padding;
}

.ag_form_wrapper--xs {
  width: 300px;
}
.ag_form_wrapper--sm {
  width: 550px;
}
.ag_form_wrapper--md {
  width: 800px;
}
.ag_form_wrapper--lg {
  width: 990px;
}
.ag_form-control--lg {
  @extend .ag_form-control;
  @extend .ag_w--100;
}
.ag_form-control--md {
  @extend .ag_form-control;
  @extend .ag_w--75;
}
.ag_form-control--sm {
  @extend .ag_form-control;
  @extend .ag_w--50;
}
.ag_form-control--xs {
  @extend .ag_form-control;
  @extend .ag_w--25;
}
.ag_radio--horizontal {
  @extend .ag_mb--4;
}
.ag_form--label {
  font-size: $font-size12;
  @extend .ag_display--block;
  color: $ag_black-lighter !important;
  margin-bottom: $ten-px;
  white-space: nowrap;
  color: $black;
}
.ag_form--value {
  font-size: 16px;
  @extend .ag_display--block;
  @extend .ag_mb--5;
}
.ag_error{
  color: $error-color;
}

.ag_mandatory-lbl{
  &::after{
    content: '*';
    color: $ag_red;
    padding-left: 0.25rem;
  }
}
// Layout Properties

// Overall Outer Padding
.ag_container--padding-lg {
  @extend .ag_p--6;
}
.ag_container--padding-md {
  @extend .ag_p--5;
}
.ag_container--padding-sm {
  @extend .ag_p--4;
}
.ag_container--padding-xs {
  @extend .ag_p--3;
}

h4 {
  &.ag_state--headers {
    color: $ag_grey-darkest;
    font-size: $font-size20 !important; // change this px to rem
    @extend .ag_font--normal;
    font-family: $ag_lato-medium;
  }
  &.ag_group--headers {
    font-size: $font-size16 !important; // change this px to rem
    @extend .ag_mb--7;
    @extend .ag_font--bold;
    font-family: $ag_lato-medium;
  }
  &.ag_page--headers {
    color: $ag_grey-darkest;
    @extend .ag_mb--5;
    @extend .ag_font--bold;
    font-size: $font-size16 !important; // change this px to rem
  }
  &.ag_card--headers {
    color: $ag_black;
    font-size: $font-size18 !important; // change this px to rem
    @extend .ag_font--normal;
    font-family: $ag_lato-medium;
  }
}

.ag_footer--actions {
  width: 100%;
  padding: 10px 20px;
  background-color: $ag_white;
  border-top: 1px solid $ag_border-lighter;
  display: flex;
  position: relative;
  z-index: 1;
  height: $dialog-footer-height;
}

.ag_height--100 {
  height: 100%;
}

.ag_modal--form-height {
  height: calc(100% - #{$dialog-footer-height});
  overflow: auto;
  form {
    height: 100%;
  }
  .mat-tab-group {
    overflow: auto;
    height: 100%;
  }
}

// Disables complete section
.ag_section--disable {
  @extend .ag_cursor--not-allowed;
  @extend .ag_pointer--none;
  opacity: 0.5;
}

// Link Properties
.ag_link {
  color: $ag_base-color !important;
  text-decoration: none;
  white-space: nowrap;
  @extend .ag_cursor--pointer;
  @extend .ag_font--bold;
}

.ag_link--sm {
  @extend .ag_link;
  font-size: 12px;
}

.ag_link--lg {
  @extend .ag_link;
  font-size: 14px;
}

.ag_link--disabled {
  @extend .ag_pointer--none;
  @extend .ag_cursor--not-allowed;
  color: $ag_disabled-color !important;
}

.ag_sticky-note {
  padding: 3px;
  font-family: $ag_lato-medium;
  @extend .ag_mr--2;
}
.ag_sticky-note-confirmed {
  @extend .ag_sticky-note;
  color: $ag_blue;
  background-color: $ag_blue-lightest;
}
.ag_sticky-note-draft {
  @extend .ag_sticky-note;
  color: $ag_orange;
  background-color: $ag_orange-lightest;
}
.ag_sticky-note-closed {
  @extend .ag_sticky-note;
  color: $ag_green;
  background-color: $ag_green-lightest;
}
.ag_sticky-note-cancelled {
  @extend .ag_sticky-note;
  color: $ag_grey-dark;
  background-color: $ag_grey-lighter;
}

// Utilities Common CSS

//Checkbox with Circle Icon
.ag_checkbox--icon {
  padding: 0.9375rem 0 0 0.9375rem;
  .icon-confirmed {
    font-size: 1.5rem;
    color: $ag_grey-darker;
    &.selected-icon {
      color: $navy-blue-darkest;
    }
  }
  .check-label {
    font-size: 14px;
    margin-left: 0.5rem;
    vertical-align: super;
  }
}

//Ngx TimePicker Color Customization
.timepicker__header {
  background: $ag_base-color !important;
}
.clock-face__number {
  span {
    &.active {
      background: $ag_base-color !important;
    }
  }
}
.timepicker-button {
  color: $ag_base-color !important;
}
.clock-face__clock-hand {
  background: $ag_base-color !important;
  &::before {
    border: 4px solid $ag_base-color !important;
  }
  &::after {
    background-color: $ag_base-color !important;
  }
}

// Ghost Css Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.ghostRectangle {
  height: 25px;
  width: 100%;
  @extend .animated-background;
}
.ghostcircle {
  height: 25px;
  width: 25px;
  border-radius: 1rem;
  @extend .animated-background;
}
.ghostSquare {
  height: 25px;
  width: 25px;
  @extend .animated-background;
}
.ghostOval {
  height: 25px;
  width: 40px;
  border-radius: 5px;
  @extend .animated-background;
}

//Popover styles
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 470px;
  padding: 8px;
  // font-family: $font_family_1;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  > .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;

    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 10px;
      content: "";
    }
  }
}

.popover.top {
  margin-top: -10px;

  > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: $ag_grey-dark;
    border-top-color: $ag_black-light;
    bottom: -11px;

    &:after {
      content: " ";
      bottom: 1px;
      margin-left: -10px;
      border-bottom-width: 0;
      border-top-color: $ag_border-lighter;
    }
  }
}

.popover.right {
  margin-left: 10px;

  > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: $ag_border-lighter;
    border-right-color: $ag_border-lighter;

    &:after {
      content: " ";
      left: 1px;
      bottom: -10px;
      border-left-width: 0;
      border-right-color: $ag_border-lighter;
    }
  }
}

.popover.bottom {
  margin-top: 10px;

  > .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: $ag_border-lighter;
    top: -11px;

    &:after {
      content: " ";
      top: 1px;
      margin-left: -10px;
      border-top-width: 0;
      border-bottom-color: $ag_base-text-white;
    }
  }
}

.popover.left {
  margin-left: -10px;

  > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: $ag_border-lighter;
    border-left-color: $ag_black-light;

    &:after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-color: $ag_border-lighter;
      bottom: -10px;
    }
  }
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: $ag_grey-lighter;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

//Common class to remove underline from the mat-form-field
.underline-hide {
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background: none;
  }
}

//Common class to remove wrapper from the mat-form-field
.no-wrapper {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}

//table css
table.custom-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  thead {
    tr {
      border-bottom: 1px solid $ag_grey-darkest;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $ag_grey-lighter;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  th,
  td {
    @extend .ag_text-overflow--hidden;
    padding: 10px;
  }
}

.table td,
.table th {
  vertical-align: middle;
}

//icons

.icon-minus:before,
.icon-plus:before {
  color: $ag_navy-blue-darkest;
  font-size: 2rem;
}

//label
label.ag_form--label {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
}

.submodule-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex-grow: 1;
  padding: 1.25rem;
  user-select: none;
}

.header-wrapper .ag_toggle {
  margin-bottom: 0rem !important;
}

.ag-tab--theme-bg {
  .mat-tab-labels {
    background-color: $ag_navy-blue-lighter;
  }
}

.active-icon {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  &:before {
    color: $green;
  }
}
.inActive-icon {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  &:before {
    color: $red;
  }
}

//Checkbox with Circle Icon
.snc__checkbox--icon {
  padding: 0.9375rem 0 0 0.9375rem;

  .icon-confirmed {
    font-size: 1.5rem;
    cursor: pointer;
    color: $check-box-outer;    
    &.disabled {
      opacity: 0.5;
      pointer-events: none !important;
    }
    &.selected-icon {
      color: $navy-blue-darkest;
      pointer-events: all;
    }
  }

  .check-label {
    font-size: 14px;
    margin-left: 0.5rem;
    vertical-align: super;
  }
}

.ag_common-label-width {
  min-width: 12rem;
  display: block;
}

// Right Side Summary Section Classes
.ag_card-section--wrapper {
  background-color: $ag_grey-lightest;
  width: 400px;
  padding: 20px;
  height: 100%;
}
.ag_card-row--wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.ag_card-value--label {
  font-size: 16px;
  font-weight: bold;
}
.ag_card-section--seperator {
  border-top: 1px solid $ag_grey-lighter;
  padding-top: 20px;
}
.ag_total-bg {
  background-color: $navy-blue-lighter;
}
p.ag_state--headers {
  color: $ag_grey-darkest;
  font-size: $font-size20 !important; // change this px to rem
  @extend .ag_font--normal;
  font-family: $ag_lato-medium;
}
.ag_pointer {
  cursor: pointer;
}
.ag_textarea {
  min-height: 10vh;
  max-height: 30vh;
}
.ag_textarea {
  min-height: 10vh;
  max-height: 30vh;
}

.required--color {
  color: $ag_red;
  font-size: $font-size20;
}


// UI-SWITCH Common CSS
ui-switch {
  cursor: pointer;
  .switch.checked.checked small {
    right: 6px;
  }

  small {
    width: 12px !important;
    height: 12px !important;
    top: 3.6px !important;
  }

  .switch.checked {
    background: $theme-base-color;
  }

  .switch-pane {
    span {
      font-size: 12px !important;
      // font-family: $golf-lato-bold;
    }
  }

  .switch {
    background: $toggle-uncheck-color;
    color: $white !important;
    border: none !important;
    margin-bottom: 20px;
  }
  .switch.switch-medium{
    height:20px;
  }
  .switch.switch-medium > .switch-pane > span{
    line-height: 20px;
  }
}