<section class="password">
  <div class="password__details">
    <label class="header ag_font--bold">{{ data.setPassword ? captions.setPassword: captions.changePassword}}</label>
    <div class="password__setup">
      <div class="login_form">
        <form [formGroup]="setPasswordForms" autocomplete="off">
          <div class="overall_login_wrapper">
            <div class="hide-view" *ngIf="!data.setPassword">
              <i class="icon-password ag_pr--2 "></i>
              <mat-form-field class="ag_w--75" [floatLabel]="floatLabel">
                <input matInput  [type]="hiddenPassword1 ? 'text' : 'password'" type="password" [placeholder]="captions.oldPassword" formControlName="oldpassword"
                  [maxlength]="maxCharacter" autocomplete="new-password">
                  <i matSuffix class="IC18" [ngClass]="hiddenPassword1 ? 'icon-password-show' : 'icon-password-hide '"
                   (click)="hiddenPassword1=!hiddenPassword1"  ></i>
                <mat-error *ngIf="setPasswordForms.get('oldpassword').hasError('required')">
                  {{captions.missingOldPassword}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="hide-view">
              <i class="icon-password ag_pr--2 "></i>
              <mat-form-field class="ag_w--75" [floatLabel]="floatLabel">

                <input matInput [type]="hiddenPassword ? 'text' : 'password'" [placeholder]="captions.newPassword"
                  formControlName="newpassword" [maxlength]="maxCharacter" autocomplete="new-password">
                <i matSuffix class="IC18" [ngClass]="hiddenPassword ? 'icon-password-show' : 'icon-password-hide '"
                   (click)="hiddenPassword=!hiddenPassword"  ></i>
                <mat-error *ngIf="setPasswordForms.get('newpassword').hasError('required')">
                  {{captions.missingNewPassword}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="hide-view">
              <i class="icon-password ag_pr--2 "></i>
              <mat-form-field class="ag_w--75" [floatLabel]="floatLabel">
                <input matInput [type]="hideConfirmPassword ? 'text' : 'password'"
                  [placeholder]="captions.confirmPassword" formControlName="confirmpassword" [maxlength]="maxCharacter"
                  autocomplete="new-password">
                  <i matSuffix class="IC18" [ngClass]="hideConfirmPassword ? 'icon-password-show' : 'icon-password-hide '"
                   (click)="hideConfirmPassword=!hideConfirmPassword"  ></i>
                <mat-error *ngIf="setPasswordForms.get('confirmpassword').hasError('required')">
                  {{captions.missingconfirmPassword}}
                </mat-error>
              </mat-form-field>
            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="password__done-button">
      <button color="primary" mat-flat-button [disabled]='doneDisabled'
                            (click)="DoneClick($event)">{{captions.done}}</button>
    </div>
    <div class="password__cancel-button">
      <button mat-flat-button
                            (click)="CancelClick($event)">{{captions.cancel}}</button>
    </div>
  </div>
  <div class="password__validation">
    <label class="ag-LatoWebBold-16">{{ captions.passwordRequirements }}</label>

    <div class="password__list">
      <div class=" password__error-div">
        <i [ngClass]="IsLengthValid ? 'icon-confirmed' : 'icon-cancel'" class="pr5"></i>
        <div class="password__error-msg ag-LatoRegular-12">{{this.captions.passwordMustContain}}{{this.minCharacter}}{{this.captions.characters}}</div>
      </div>
      <div class=" password__error-div" *ngIf="this.formatingType != 1">
        <i [ngClass]="IsHavingAllTypes ? 'icon-confirmed' : 'icon-cancel'" class="pr5"></i>
        <div class="password__error-msg ag-LatoRegular-12">
          {{characterValidationMsg}}</div>
      </div>
      <div class=" password__error-div">
        <i [ngClass]="!IsLastPassword ? 'icon-confirmed' : 'icon-cancel'" class="pr5"></i>
        <div class="password__error-msg ag-LatoRegular-12">{{captions.cannotBeSameAsTheLast}}
          {{allowReuse}}{{captions.PasswordsUsed}}
        </div>
      </div>
      <div class=" password__error-div" *ngIf="!data.setPassword">
        <i [ngClass]="IsOldPassword ? 'icon-confirmed' : 'icon-cancel'" class="pr5"></i>
        <div class="password__error-msg ag-LatoRegular-12">{{ captions.oldPasswordVerified}}</div>
      </div>
      <div class=" password__error-div" *ngIf="!allowSpecialCharacters">
        <i [ngClass]="isSpecialChar ? 'icon-confirmed' : 'icon-cancel'" class="pr5"></i>
        <div class="password__error-msg ag-LatoRegular-12">{{ captions.noSpecialCharacters}}</div>
      </div>
      <div class=" password__error-div" *ngIf="isConfirmPassword">
        <i [ngClass]="IsConfirmed ? 'icon-confirmed' : 'icon-cancel'" class="pr5"></i>
        <div class="password__error-msg ag-LatoRegular-12">{{ captions.confirmPasswordSame}}</div>
      </div>
    </div>
  </div>
</section>
