@import "../../../assets/sass/abstracts/variables";

.password {
  $self: &;
  height: 100%;

  li {
    list-style-type: none;
  }

  #{ $self }__details {
    height: 100%;
    width: 45%;
    float: left;
    padding: 30px;

    .header {
      font-size: 20px;
    }

    #{ $self }__setup {
      margin: 20px 0px;
    }

    #{ $self }__done-button {
      button {
        margin-top: 10px;
        width: 80%;
        text-transform: uppercase;
      }
    }

    #{ $self }__cancel-button {
      button {
        margin-top: 10px;
        width: 80%;
        text-transform: uppercase;
      }
    }
  }

  #{ $self }__validation {
    height: 100%;
    width: 55%;
    float: right;
    padding: 30px;

    #{ $self }__list {
      padding: 20px 0px;
      #{ $self }__error-div {
        display: flex;
        padding-bottom: 0.75rem;
        #{ $self }__error-msg {
          display: inline-block;
        }
      }
    }
  }

  .pr5 {
    padding-right: 0.5rem;
  }

  .icon-cancel {
    color: red;
    font-size: 14px;
  }

  .icon-confirmed {
    color: rgb(38, 101, 192);
    font-size: 14px;
  }

  .hide-view i.icon-password-hide {
    position: relative;
    right: 0;
  }
}
