<div *ngIf="hasAccess" class="user-role newVersionWrapper">
  <div class="control-section">
    <div class="select-container">
      <mat-form-field class="select-width"  [floatLabel]="floatLabel">
        <mat-select id="selectSetup" #selectSetup [(ngModel)]="selectedOption" (ngModelChange)="LoadUserConfig()">
          <mat-option *ngFor="let option of availableOptions" [(value)]="option.id">
            {{option.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-section">
      <span class="expand-sollapse" (click)="expandCollapse($event)"><span class="mr-2" [ngClass]="triggerExpandCollapse? 'icon-Collapse-All-1':'icon-Expand-All-1'"></span>{{triggerExpandCollapse? captions.lbl_collapseAll: captions.lbl_expandAll}}</span>
      <button [ngClass]="{'button_invalid': IsReadOnly }" mat-raised-button (click)="Save()" class="copy-btn body-bgcolor whitecolor text-uppercase">{{captions.save}}</button>
      <button [ngClass]="{'button_invalid': IsReadOnly }" mat-raised-button (click)="openDialog()" class="copy-btn body-bgcolor whitecolor text-uppercase">{{captions.copy}}</button>
    </div>


  </div>
  <div class="data-section data-section-container pt-4">
    <ng-scrollbar>
      <app-accordian-user-config [IsReadOnly]="IsReadOnly" [expandCollapse]="triggerExpandCollapse"  [inputData]="arrayData"></app-accordian-user-config>
    </ng-scrollbar>
  </div>
</div>
